<div mat-dialog-title class="title">
  <span class="text">{{'Edit layer style' | translate}}</span>
  <button class="close" mat-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="content">
    <!-- Left part with a map -->
    <div id="{{id}}" class="map-container"></div>
    <!-- Right part with a stepper proposing different forms -->
    <div>
      <arlas-mapgl-layer-style  [layerStyle]="layerStyle"></arlas-mapgl-layer-style>
      <button mat-button (click)="editLayerStyle()">Change layer opacity</button>
      <button mat-button (click)="validate()" cdkFocusInitial>{{ 'Validate' | translate }}</button>
    </div>
</div>