
########################################################
############   AUTHENTICATION SETTINGS   ###############
########################################################
authentication:
  use_authent: ${ARLAS_USE_AUTHENT}
  auth_mode: ${ARLAS_AUTHENT_MODE}
  force_connect: ${ARLAS_AUTHENT_FORCE_CONNECT}
  use_discovery: ${ARLAS_AUTHENT_USE_DISCOVERY}
  threshold: ${ARLAS_AUTHENT_THRESHOLD}
  url: ${ARLAS_IAM_SERVER_URL}
  issuer: ${ARLAS_AUTHENT_ISSUER}
  client_id: ${ARLAS_AUTHENT_CLIENT_ID}
  redirect_uri: ${ARLAS_AUTHENT_REDIRECT_URI}
  silent_refresh_redirect_uri: ${ARLAS_AUTHENT_SILENT_REFRESH_REDIRECT_URI}
  scope: ${ARLAS_AUTHENT_SCOPE}
  token_endpoint: ${ARLAS_AUTHENT_TOKEN_ENDPOINT}
  userinfo_endpoint: ${ARLAS_AUTHENT_USERINFO_ENDPOINT}
  jwks_endpoint: ${ARLAS_AUTHENT_JWKS_ENDPOINT}
  login_url: ${ARLAS_AUTHENT_LOGIN_URL}
  logout_url: ${ARLAS_AUTHENT_LOGOUT_URL}
  show_debug_information: ${ARLAS_AUTHENT_SHOW_DEBUG}
  require_https: ${ARLAS_AUTHENT_REQUIRE_HTTPS}
  response_type: ${ARLAS_AUTHENT_RESPONSE_TYPE}
  silent_refresh_timeout: ${ARLAS_AUTHENT_SILENT_REFRESH_TIMEOUT}
  timeout_factor: ${ARLAS_AUTHENT_TIMEOUT_FACTOR}
  session_checks_enabled: ${ARLAS_AUTHENT_ENABLE_SESSION_CHECKS}
  clear_hash_after_login: ${ARLAS_AUTHENT_CLEAR_HASH}
  storage: ${ARLAS_AUTHENT_STORAGE}
  disable_at_hash_check: ${ARLAS_AUTHENT_DISABLE_AT_HASH_CHECK}
  dummy_client_secret: ${ARLAS_AUTHENT_DUMMY_CLIENT_SECRET}
  custom_query_params: ${ARLAS_AUTHENT_CUSTOM_QUERY_PARAMS}

persistence:
  url: ${ARLAS_PERSISTENCE_URL}
arlas_hub_url: ${ARLAS_HUB_URL}
links: ${ARLAS_STATIC_LINKS}
ticketing_key: ${ARLAS_TICKETING_KEY}
tab_name:  ${ARLAS_TAB_NAME}
dashboards_shortcut: ${ARLAS_WUI_DASHBOARDS_SHORTCUT}
histogram:
  max_buckets: ${ARLAS_HISTOGRAMS_MAX_BUCKETS}
  export_nb_buckets: ${ARLAS_EXPORT_HISTOGRAMS_NB_BUCKETS}
process:
  url: ${ARLAS_PROCESS_URL}
  check_url: ${ARLAS_PROCESS_CHECK_URL}
  max_items: ${ARLAS_PROCESS_MAX_ITEMS}
  settings:
    url: ${ARLAS_PROCESS_SETTINGS_URL}
  status:
    url: ${ARLAS_PROCESS_STATUS_URL}
geocoding:
  enabled: ${ARLAS_GEOCODING_ENABLED}
  find_place_url: ${ARLAS_GEOCODING_FIND_PLACE_URL}
  find_place_zoom_to: ${ARLAS_GEOCODING_FIND_PLACE_ZOOM_TO}
