<div class="columns-wrapper">
    <table #columnTable mat-table [dataSource]="this.control?.controls" class="columns" cdkDropList
        [cdkDropListData]="this.control?.controls" (cdkDropListDropped)="drop($event)"
        [cdkDropListDisabled]="dragDisabled" [cdkDropListLockAxis]="'y'">

        <ng-container matColumnDef="action">
            <th class="action" mat-header-cell *matHeaderCellDef></th>
            <td class="action" class="action" mat-cell *matCellDef="let column; let i = index">
                <div class="action-wrapper">
                    <mat-icon class="drag" (mousedown)="dragDisabled = false">drag_indicator</mat-icon>
                    <button mat-icon-button (click)="deleteColumn(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div> 
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{'Column name' | translate}}</th>
            <td class="name" mat-cell *matCellDef="let column">
                <arlas-config-form-control [showLabel]="false" [control]="column?.controls.columnName">
                </arlas-config-form-control>
            </td>
        </ng-container>
        <ng-container matColumnDef="field">
            <th mat-header-cell *matHeaderCellDef>{{'Column field' | translate}}</th>
            <td class="field" mat-cell *matCellDef="let column">
                <arlas-config-form-control [showLabel]="false" [control]="column.controls.fieldName">
                </arlas-config-form-control>
            </td>
        </ng-container>
        <ng-container matColumnDef="unit">
            <th class="unit" mat-header-cell *matHeaderCellDef>{{'Unit of the column' | translate}}</th>
            <td class="unit" mat-cell *matCellDef="let column">
                <arlas-config-form-control [showLabel]="false" [control]="column.controls.dataType">
                </arlas-config-form-control>
            </td>
        </ng-container>
        <ng-container matColumnDef="colorService">
            <th class="color-service" mat-header-cell *matHeaderCellDef>{{'Colorize' | translate}}</th>
            <td class="color-service" mat-cell *matCellDef="let column">
                <div class="color-service-wrapper">
                    <arlas-config-form-control [showLabel]="false" [control]="column.controls.useColorService"></arlas-config-form-control>
                    <arlas-config-form-control *ngIf="column.controls.useColorService.value"
                        [control]="column.controls.keysToColorsButton"></arlas-config-form-control>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (cdkDragStarted)="dragStarted($event)" cdkDrag
            [cdkDragData]="row" class="column-drag"></tr>
    </table>
</div>

<mat-error *ngIf="control?.touched && control?.hasError('required')">{{'At least one column is required' | translate}}
</mat-error>
<div class="button-wrapper">
    <button mat-stroked-button color="primary" (click)="addColumn(collection)"
        [matTooltip]="'Add a column' | translate" type="button">
        <mat-icon>add</mat-icon>
        {{'Add a column' | translate}}
    </button>
</div>
<div class="button-wrapper">
    <button mat-stroked-button color="primary" (click)="validate(control)"
        [matTooltip]="'Validate' | translate" type="button">
        {{'Validate' | translate}}
    </button>
</div>