<div class="parameters">
    <mat-form-field appearance="outline" class="parameters__form">
        <mat-label>Band</mat-label>
        <mat-select [value]="band" (valueChange)="onBandChange($event)" [disabled]="loading">
            <mat-option *ngFor="let b of bandOptions" [value]="b">
                {{ b }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="parameters__form">
        <mat-label>Timestamp</mat-label>
        <mat-select [value]="timeIndex" (valueChange)="onTimeIndexChange($event)" [disabled]="loading">
            <mat-option *ngFor="let t of timeOptions; let idx=index" [value]="idx">
                {{ t | date }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <arlas-tool-progress-spinner *ngIf="loading" [diameter]="35"></arlas-tool-progress-spinner>
</div>