@let enableTerrain = mapComponentConfig?.terrain?.enable;
<div class="arlas-map__container"
  [class.arlas-map__container--three-actions]="enableGeocodingFeature || !!enableTerrain"
  [class.arlas-map__container--four-actions]="enableGeocodingFeature && !!enableTerrain">
  <arlas-map-settings #mapSettings (geoQueryEmitter)="applySelectedGeoQuery($event)"></arlas-map-settings>

  @if (!arlasStartupService.emptyMode) {
    <div id="arlas-map-settings" class="arlas-map-settings">
      <div class="arlas-map-settings-container">
        <button mat-icon-button class="arlas-map-settings-items basemaps-item" matTooltipPosition="left"
          [matTooltip]="'Basemaps' | translate" (click)="mapglComponent.showBasemapSwitcher()">
          <mat-icon>public</mat-icon>
        </button>
        @if (enableTerrain) {
          <button mat-icon-button class="arlas-map-settings-items" matTooltipPosition="left"
              [matTooltip]="(mapglComponent?.hasTerrain() ? 'Hide terrain' : 'Display terrain') | translate" (click)="mapglComponent.toggleTerrain()">
            <mat-icon>terrain</mat-icon>
          </button>
        }
        <button mat-icon-button [matTooltip]="'Geo-filter tools' | translate" [matTooltipPosition]="enableGeocodingFeature ? 'above' : 'below'"
          class="arlas-map-settings-items geo-filter-item" (mouseenter)="isMapMenuOpen = true;shouldCloseMapMenu = false" (mouseleave)="shouldCloseMapMenu = true;closeMapMenu()">
          <mat-icon>travel_explore</mat-icon>
        </button>
        @if (enableGeocodingFeature) {
          <button mat-icon-button class="arlas-map-settings-items"
            [matTooltip]="'Search a place' | translate" matTooltipPosition="left" (click)="showGeocodingPopup.next(true)">
            <mat-icon>location_searching</mat-icon>
          </button>
        }
        @if ((showGeocodingPopup | async)) {
          <arlas-geocoding (close)="showGeocodingPopup.next(false)" (zoomToAddress)="goToLocation($event)"></arlas-geocoding>
        }
      </div>
      @if (isMapMenuOpen) {
        <div class="arlas-map-action-container" [class.if-geocoding-button]="enableGeocodingFeature" (mouseenter)="shouldCloseMapMenu = false" (mouseleave)="shouldCloseMapMenu = true;closeMapMenu()">
          <button mat-icon-button class="arlas-map-action-items" [matTooltip]="'Add bbox' | translate"
              matTooltipPosition="below" (click)="mapglComponent.addGeoBox()">
            <mat-icon svgIcon="bbox"></mat-icon>
          </button>
          <button mat-icon-button class="arlas-map-action-items" [matTooltip]="'Draw a polygon' | translate"
              matTooltipPosition="below" (click)="mapglComponent.switchToDrawMode()">
            <mat-icon svgIcon="draw_polygon"></mat-icon>
          </button>
          <button mat-icon-button class="arlas-map-action-items" [matTooltip]="'Import polygon' | translate"
              matTooltipPosition="below" (click)="mapImportComponent.openDialog()">
            <mat-icon svgIcon="import_polygon"></mat-icon>
          </button>
          <button mat-icon-button class="arlas-map-action-items arlas-map-action-items--stroke" [matTooltip]="'Draw a circle' | translate"
              matTooltipPosition="below" (click)="drawCircle()">
            <mat-icon svgIcon="draw_circle"></mat-icon>
          </button>
          <button mat-icon-button class="arlas-map-action-items" [matTooltip]="'Edit drawings' | translate"
              matTooltipPosition="below" (click)="mapglComponent.switchToEditMode()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="arlas-map-action-items" [matTooltip]="'Remove drawings' | translate"
              matTooltipPosition="below" (click)="mapglComponent.removeAois()">
            <mat-icon svgIcon="remove_polygon"></mat-icon>
          </button>
          <button mat-flat-button class="arlas-map-action-items arlas-map-action-items__bbox" [matTooltip]="'BBox from coordinates' | translate"
              matTooltipPosition="below" (click)="openAoiGenerator()">
            ° ' "
          </button>
          <button mat-icon-button class="arlas-map-action-items arlas-map-action-items__settings" [matTooltip]="'Map Settings' | translate"
              matTooltipPosition="below" (click)="openMapSettings()">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      }
    </div>
  }

  <div class="arlas-cog-visualisation-manager"
      [class.arlas-cog-visualisation-manager--tight]="!wuiMapService.coordinatesHaveSpace && !wuiMapService.timeLineIsOpen"
      [class.arlas-cog-visualisation-manager--timeline-open]="wuiMapService.timeLineIsOpen && wuiMapService.coordinatesHaveSpace"
      [class.arlas-cog-visualisation-manager--full]="wuiMapService.timeLineIsOpen && !wuiMapService.coordinatesHaveSpace">
    @if (cogVisualisation()?.visualisation) {
      <arlas-visualisation-legend></arlas-visualisation-legend>
    }

    <div class="arlas-cog-visualisation-manager__manage">
      @if (cogVisualisation()?.visualisation) {
        <arlas-cog-visualisation-manager [visualisation]="cogVisualisation().visualisation" [preview]="cogVisualisation().preview"></arlas-cog-visualisation-manager>
      }
      <arlas-rasters-manager></arlas-rasters-manager>
    </div>
  </div>

    <arlas-map [id]="mapId" #map [dataSources]="mapDataSources" [redrawSource]="mapRedrawSources"
      [legendUpdater]="mapLegendUpdater" [visibilityUpdater]="mapVisibilityUpdater"
      [defaultBasemapStyle]="defaultBasemap"
      [visualisationSetsConfig]="mapComponentConfig?.visualisations_sets"
      (visualisations)="changeVisualisation($event)" [icons]="mapComponentConfig?.icons"
      [basemapStyles]="mapComponentConfig?.basemapStyles"
      [margePanForLoad]="mapComponentConfig?.margePanForLoad"
      [margePanForTest]="mapComponentConfig?.margePanForTest" [initCenter]="mapComponentConfig?.initCenter"
      [drawData]="geojsondraw"
      [transformRequest]="transformMapRequest"
      [initZoom]="mapComponentConfig?.initZoom" [minZoom]="mapComponentConfig?.minZoom"
      [maxZoom]="mapComponentConfig?.maxZoom" [displayScale]="mapComponentConfig?.displayScale"
      [displayCurrentCoordinates]="mapComponentConfig?.displayCurrentCoordinates"
      [maxWidthScale]="mapComponentConfig?.maxWidthScale" [unitScale]="mapComponentConfig?.unitScale"
      [mapLayers]="mapComponentConfig?.mapLayers"
      [mapSources]="mapComponentConfig?.mapSources"
      [featuresToSelect]="wuiMapService.featuresToSelect"
      [boundsToFit]="visualizeService.fitbounds" [drawPolygonVerticesLimit]="nbVerticesLimit"
      [drawButtonEnabled]="false" [mapAttributionPosition]="mapAttributionPosition"
      [enableGlobe]="mapComponentConfig?.enableGlobe"
      [terrain]="mapComponentConfig?.terrain"
      [maxPitch]="45"
      [drawTheme]="drawTheme"
      (onAoiChanged)="onChangeAoi($event)"
      (onAoiEdit)="onAoiEdit($event)"
      (onMove)="onMove($event)"
      (onBasemapChanged)="reloadMapImages()" (onMapLoaded)="onMapLoaded($event)"
      (legendVisibiltyStatus)="setLayersVisibilityStatus($event)" (onFeatureHover)="emitFeaturesOnHover($event)"
      (onFeatureClick)="emitFeaturesOnClick($event)"
      (downloadSourceEmitter)="downloadLayerSource($event)">
    </arlas-map>

  @if (mapLoaded) {
    <arlas-map-import #import [hidden]="true" [maxVertexByPolygon]="nbVerticesLimit" [maxFileSize]="maxFileSize"
      [maxLoadingTime]="maxLoadingTime" [maxFeatures]="maxFeatures" [mapComponent]="mapglComponent"></arlas-map-import>
  }

  @if (aoiEdition && aoiEdition.show) {
    <div class="aoi-dimensions">
      <arlas-aoi-dimensions [aoiEdition]="aoiEdition"></arlas-aoi-dimensions>
    </div>
  }
</div>
