/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use "styles/variables.scss" as var;
@use "styles/app/sizes.scss" as sizes;
@use "styles/app/mixin.scss" as mixin;

.arlas-map__container {
  height: 100%;

  ::ng-deep.maplibregl-ctrl-group{
    &:has(.maplibregl-ctrl-globe),
    &:has(.maplibregl-ctrl-globe-enabled) {
      @include mixin.margin-top-for-x-actions(2);
    }
  }

  &--three-actions {
    ::ng-deep.maplibregl-ctrl-group{
      &:has(.maplibregl-ctrl-globe),
      &:has(.maplibregl-ctrl-globe-enabled) {
        @include mixin.margin-top-for-x-actions(3);
      }
    }
  }

  &--four-actions {
    ::ng-deep.maplibregl-ctrl-group{
      &:has(.maplibregl-ctrl-globe),
      &:has(.maplibregl-ctrl-globe-enabled) {
        @include mixin.margin-top-for-x-actions(4);
      }
    }
  }

  .arlas-map-settings {
    position: absolute;
    top: calc(sizes.$sm-spacing + var.$map-attributions-height + sizes.$sm-spacing
        + var(--arlas-map-actions-width) + sizes.$sm-spacing
        + var.$map-actions-length + sizes.$sm-spacing);
    right: sizes.$sm-spacing;
    z-index: 2;

    .arlas-map-settings-container {
      display: flex;
      flex-direction: column;
      @include mixin.box-border();
      background-color: white;

      .arlas-map-settings-items {
        height: var(--arlas-map-actions-width);
        width: var(--arlas-map-actions-width);
        border-radius: 0;
        border-top: 1px solid #ddd;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        &:first-child {
          border-top: none !important;
        }

        ::ng-deep .mat-mdc-button-touch-target {
          width: var(--arlas-map-actions-width);
          height: var(--arlas-map-actions-width);
        }
      }
    }
  }

  .if-geocoding-button {
    bottom: calc(var(--arlas-map-actions-width) + sizes.$xs-border) !important;
  }

  .arlas-cog-visualisation-manager {
    position: absolute;
    height: var(--arlas-map-actions-width);
    bottom: calc(
      sizes.$default-spacing + var.$map-scale-height
    );
    right: sizes.$sm-spacing;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    gap: 5px;

    &--tight {
      bottom: calc(
        sizes.$default-spacing + var.$map-scale-height + var.$map-scale-height
      )!important;
    }
    &--timeline-open {
      bottom: calc(
        sizes.$default-spacing + var.$map-scale-height + sizes.$sm-spacing + var.$timeline-height
      )!important;
    }
    &--full {
      bottom: calc(
        sizes.$default-spacing + var.$map-scale-height + var.$map-scale-height + sizes.$sm-spacing + var.$timeline-height
      )!important;
    }
  }

  .arlas-map-action-container {
    position: absolute;
    right: calc(var(--arlas-map-actions-width) + sizes.$xs-border);
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    @include mixin.box-border();

    .arlas-map-action-items {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: sizes.$xs-border solid #ddd;
      color: black;

      // For icon button
      --mat-icon-button-touch-target-size: var(--arlas-map-actions-width);
      --mat-icon-button-state-layer-size: var(--arlas-map-actions-width);
      padding: 0;
      border-radius: 0;

      // For text button
      min-width: unset;
      white-space: nowrap;
      --mat-button-filled-touch-target-size: var(--arlas-map-actions-width);
      --mat-button-filled-container-height: var(--arlas-map-actions-width);
      --mat-button-filled-container-color: transparent;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:first-child {
        border-right: unset;
      }

      mat-icon {
        display: flex;
      }

      &__bbox {
        width: var(--arlas-map-actions-width);
      }
    }
  }

  .aoi-dimensions {
    position: absolute;

    right: calc(sizes.$sm-spacing + var(--arlas-map-actions-width) + sizes.$sm-spacing);
    top: calc(sizes.$sm-spacing + var.$map-attributions-height
        + sizes.$sm-spacing + var(--arlas-map-actions-width)
        + sizes.$sm-spacing + var.$map-actions-length
        + sizes.$sm-spacing + var(--arlas-map-actions-width));
    z-index: 1;
  }
}
