<div class="arlas-map__container" [class.arlas-map__container--tight]="!mapService.coordinatesHaveSpace">
    <arlas-mapgl-settings #mapSettings (geoQueryEmitter)="applySelectedGeoQuery($event)"></arlas-mapgl-settings>

    <div id="arlas-map-settings" class="arlas-map-settings" *ngIf="!arlasStartupService.emptyMode" >
        <div class="arlas-map-settings-container" >
          <div class="arlas-map-settings-items map-settings-item" matTooltipPosition="left" matTooltip="{{'Map Settings' | translate}}">
            <mat-icon svgIcon="map_settings" (click)="openMapSettings()"></mat-icon>
          </div>
          <div class="arlas-map-settings-items basemaps-item" matTooltipPosition="left" matTooltip="{{'Basemaps' | translate}}" >
            <mat-icon (click)="this.mapglComponent.showBasemapSwitcher()">public</mat-icon>
          </div>
          <div matTooltip="{{'Geo-filter tools' | translate}}" [matTooltipPosition]="enableGeocodingFeature ? 'above' : 'below'" class="arlas-map-settings-items geo-filter-item"
            (mouseenter)="isMapMenuOpen = true;shouldCloseMapMenu = false" (mouseleave)="shouldCloseMapMenu = true;closeMapMenu()">
            <mat-icon>travel_explore</mat-icon>
          </div>
          <div *ngIf="enableGeocodingFeature" class="arlas-map-settings-items geo-filter-item">
            <mat-icon (click)="showGeocodingPopup.next(true)" matTooltip="{{'Search a place' | translate}}" matTooltipPosition="below">location_searching</mat-icon>
            <arlas-geocoding *ngIf="(showGeocodingPopup | async)" (close)="showGeocodingPopup.next(false)" (zoomToAddress)="goToLocation($event)"></arlas-geocoding>
          </div>
        </div>
        <div class="arlas-map-action-container" [class.if-geocoding-button]="enableGeocodingFeature" *ngIf="isMapMenuOpen" (mouseenter)="shouldCloseMapMenu = false" (mouseleave)="shouldCloseMapMenu = true;closeMapMenu()">
          <div class="arlas-map-action-items" matTooltip="{{'Add bbox' | translate}}" matTooltipPosition="below">
            <mat-icon svgIcon="bbox" (click)="mapglComponent.addGeoBox()"></mat-icon>
          </div>
          <div class="arlas-map-action-items" matTooltip="{{'Draw a polygon' | translate}}" matTooltipPosition="below">
            <mat-icon svgIcon="draw_polygon" (click)="mapglComponent.switchToDrawMode()"></mat-icon>
          </div>
          <div class="arlas-map-action-items" matTooltip="{{'Import polygon' | translate}}" matTooltipPosition="below">
            <mat-icon svgIcon="import_polygon" (click)="mapImportComponent.openDialog()"></mat-icon>
          </div>
          <div class="arlas-map-action-items" matTooltip="{{'Draw a circle' | translate}}" matTooltipPosition="below">
            <mat-icon svgIcon="draw_circle" (click)="drawCircle();"></mat-icon>
          </div>
          <div class="arlas-map-action-items" matTooltip="{{'Edit drawings' | translate}}" matTooltipPosition="below">
            <mat-icon (click)="mapglComponent.switchToEditMode()">edit</mat-icon>
          </div>
          <div class="arlas-map-action-items" matTooltip="{{'Remove drawings' | translate}}" matTooltipPosition="below">
            <mat-icon svgIcon="remove_polygon" (click)="mapglComponent.removeAois()"></mat-icon>
          </div>
          <div class="arlas-map-action-items" matTooltip="{{'BBox from coordinates' | translate}}" matTooltipPosition="below">
            <div class="generate-bbox" (click)="openAoiGenerator()">° ' "</div>
          </div>
        </div>
      </div>

    <arlas-mapgl [id]="mapId" #map [dataSources]="mapDataSources" [redrawSource]="mapRedrawSources"
      [legendUpdater]="mapLegendUpdater" [visibilityUpdater]="mapVisibilityUpdater"
      [defaultBasemapStyle]="defaultBasemap"
      [visualisationSetsConfig]="mapComponentConfig?.visualisations_sets"
      (visualisations)="changeVisualisation($event)" [icons]="mapComponentConfig?.icons"
      [basemapStyles]="mapComponentConfig?.basemapStyles"
      [margePanForLoad]="mapComponentConfig?.margePanForLoad"
      [margePanForTest]="mapComponentConfig?.margePanForTest" [initCenter]="mapComponentConfig?.initCenter"
      [drawData]="geojsondraw"
      [initZoom]="mapComponentConfig?.initZoom" [minZoom]="mapComponentConfig?.minZoom"
      [maxZoom]="mapComponentConfig?.maxZoom" [displayScale]="mapComponentConfig?.displayScale"
      [displayCurrentCoordinates]="mapComponentConfig?.displayCurrentCoordinates"
      [maxWidthScale]="mapComponentConfig?.maxWidthScale" [unitScale]="mapComponentConfig?.unitScale"
      [idFeatureField]="mapComponentConfig?.idFieldName" [mapLayers]="mapComponentConfig?.mapLayers"
      [mapSources]="mapComponentConfig?.mapSources"
      [featureToHightLight]="mapService.featureToHightLight" [featuresToSelect]="featuresToSelect"
      [boundsToFit]="visualizeService.fitbounds" [drawPolygonVerticesLimit]="nbVerticesLimit"
      [drawButtonEnabled]="false" [mapAttributionPosition]="mapAttributionPosition"
      (onAoiChanged)="onChangeAoi($event)"
      (onAoiEdit)="onAoiEdit($event)"
      (onMove)="onMove($event)"
      (onBasemapChanged)="reloadMapImages()" (onMapLoaded)="onMapLoaded($event)"
      (legendVisibiltyStatus)="setLayersVisibilityStatus($event)" (onFeatureOver)="emitFeaturesOnHover($event)"
      (onFeatureClic)="emitFeaturesOnClick($event)"
      (downloadSourceEmitter)="downloadLayerSource($event)">
    </arlas-mapgl>

    <arlas-mapgl-import *ngIf="mapLoaded" #import [hidden]="true" [maxVertexByPolygon]="nbVerticesLimit" [maxFileSize]="maxFileSize"
      [maxLoadingTime]="maxLoadingTime" [maxFeatures]="maxFeatures" [mapComponent]="mapglComponent"></arlas-mapgl-import>

    <div class="aoi-dimensions" *ngIf="aoiEdition && aoiEdition.show">
      <arlas-aoi-dimensions [aoiEdition]="aoiEdition"></arlas-aoi-dimensions>
    </div>
</div>