<div class="menu_container">
  <div class="arlas-analytics">
    @if (!arlasStartupService.emptyMode) {
      <arlas-analytics-menu [showIndicators]="showIndicators"></arlas-analytics-menu>
      <mat-divider></mat-divider>
      <ng-container *ngIf="isRefreshAnalyticsButton">
        <button mat-icon-button class="arlas-analytics-refresh" (click)="refreshComponents()"
          matTooltip="{{'Refresh components' | translate}}" matTooltipPosition="right">
          <mat-icon>refresh</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </ng-container>
    }
  </div>

  <div class="action-list">
    <mat-divider></mat-divider>
    <mat-nav-list *ngIf="showDashboardsList">
      <mat-list-item *ngIf="persistenceService.isAvailable" (click)="show('configs')" [class.active-menu]="!!toggleStates.configs"
        matTooltip="{{'Switch dashboard' | translate}}" matTooltipPosition="right">
        <button mat-icon-button>
          <mat-icon>apps</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
    @if (!arlasStartupService.emptyMode) {
      <button mat-icon-button *ngIf="tagComponentConfig" [matMenuTriggerFor]="tagMenu" [matTooltip]="'Tag data' | translate" [matTooltipPosition]="'right'">
        <mat-icon>local_offer</mat-icon>
      </button>
      <button mat-icon-button *ngIf="walkthroughService.isActivable" (click)="replayTour()" [matTooltip]="'Replay tour' | translate" [matTooltipPosition]="'right'">
        <mat-icon>slideshow</mat-icon>
      </button>
    }
  </div>
</div>

<arlas-tag #tag></arlas-tag>

<mat-menu #tagMenu="matMenu">
  <button mat-menu-item (click)="displayTag()">
    <mat-icon>add_circle_outline</mat-icon>
    <span>{{ 'Add' | translate }}</span>
  </button>
  <button mat-menu-item (click)="displayTagManagement()">
    <mat-icon>replay</mat-icon>
    <span>{{ 'Replay' | translate }}</span>
  </button>
</mat-menu>

