<div class="menu_container">
  <div class="arlas-analytics" *ngIf="!arlasStartupService.emptyMode; else voidDiv">
    <arlas-analytics-menu [showIndicators]="showIndicators"></arlas-analytics-menu>
    <mat-divider></mat-divider>
    <ng-container *ngIf="isRefreshAnalyticsButton">
      <button mat-icon-button class="arlas-analytics-refresh" (click)="refreshComponents()"
        matTooltip="{{'Refresh components' | translate}}" matTooltipPosition="right">
        <mat-icon>refresh</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
  <ng-template #voidDiv>
    <div></div>
  </ng-template>
  <div class="action-list">
    <mat-divider></mat-divider>
    <mat-nav-list *ngIf="showDashboardsList">
      <mat-list-item *ngIf="persistenceService.isAvailable" (click)="show('configs')" [class.active-menu]="!!toggleStates.configs"
        matTooltip="{{'Switch dashboard' | translate}}" matTooltipPosition="right">
        <button mat-icon-button>
          <mat-icon>apps</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
    @if (!arlasStartupService.emptyMode) {
      <button mat-icon-button [matMenuTriggerFor]="bookmarkMenu.matMenu" [matTooltip]="'Bookmarks' | translate" [matTooltipPosition]="'right'">
        <mat-icon>bookmark</mat-icon>
      </button>
      <button mat-icon-button *ngIf="walkthroughService.isActivable" (click)="replayTour()" [matTooltip]="'Replay tour' | translate" [matTooltipPosition]="'right'">
        <mat-icon>slideshow</mat-icon>
      </button>
      <button mat-icon-button *ngIf="shareComponentConfig" (click)="displayShare()" [matTooltip]="'Share geographical data' | translate" [matTooltipPosition]="'right'">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button *ngIf="downloadComponentConfig" (click)="displayDownload()" [matTooltip]="'Download data' | translate" [matTooltipPosition]="'right'">
        <mat-icon>get_app</mat-icon>
      </button>
      <button mat-icon-button *ngIf="tagComponentConfig" [matMenuTriggerFor]="tagMenu" [matTooltip]="'Tag data' | translate" [matTooltipPosition]="'right'">
        <mat-icon>local_offer</mat-icon>
      </button>
    }
  </div>
</div>

<arlas-share #share [icon]="'share'" [hidden]="true"></arlas-share>

<arlas-download #download [collections]="collections" [hidden]="true"></arlas-download>

<arlas-bookmark-menu #bookmarkMenu></arlas-bookmark-menu>

<arlas-tag #tag></arlas-tag>

<mat-menu #tagMenu="matMenu">
  <button mat-menu-item (click)="displayTag()">
    <mat-icon>add_circle_outline</mat-icon>
    <span>{{ 'Add' | translate }}</span>
  </button>
  <button mat-menu-item (click)="displayTagManagement()">
    <mat-icon>replay</mat-icon>
    <span>{{ 'Replay' | translate }}</span>
  </button>
</mat-menu>

