<div class="menu_container" [class.hide-label]="!isLabelDisplayed">
  <div>
    <div class="logo">
      <img src="assets/logo-only.png" matTooltip="'ARLAS-wui'" />
    </div>
    <div>
      <div>
        <mat-nav-list>
          <mat-list-item *ngIf="persistenceService.isAvailable"  (click)="show('configs')" [class.active-menu]="!!toggleStates.configs" matTooltip="{{'Switch dashboard' | translate}}">
            <button mat-icon-button>
              <mat-icon>apps</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider></mat-divider>
      </div>

    </div>
  </div>
  <div>
    <div class="action-list">
      <arlas-tool-link></arlas-tool-link>
      <mat-divider *ngIf="shareComponentConfig || downloadComponentConfig || tagComponentConfig"></mat-divider>
      <mat-nav-list>
        <mat-list-item *ngIf="shareComponentConfig" matTooltip="{{'Share geographical data' | translate}}"
          (click)="displayShare()">
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="downloadComponentConfig"  (click)="displayDownload()" matTooltip="{{ 'Download data' | translate }}">
          <button mat-icon-button>
            <mat-icon>get_app</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="tagComponentConfig"  [matMenuTriggerFor]="tagMenu" matTooltip="{{ 'Tag data' | translate }}">
          <button mat-icon-button  >
            <mat-icon>local_offer</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <mat-list-item *ngIf="this.walkthroughService.isActivable" (click)="replayTour()" matTooltip="{{ 'Replay tour' | translate }}">
          <button mat-icon-button >
            <mat-icon>slideshow</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item (click)="displayAbout()" matTooltip="{{ 'About ARLAS' | translate }} {{ version }}">
          <button mat-icon-button>
            <mat-icon>info_outline</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="this.zendeskActive" (click)="window.zE('webWidget', 'open');window.zE('webWidget', 'show');" matTooltip="{{ 'Support' | translate }}">
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <mat-list-item *ngIf="connected && isAuthentActivated" matTooltip="{{'User info' | translate}}"
          (click)="getUserInfos()">
          <button mat-icon-button>
            <img src="{{avatar}}" class="user_avatar">
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="!connected && isAuthentActivated" matTooltip="{{'Log In' | translate}}"
          (click)="connect()">
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="connected && isAuthentActivated" matTooltip="{{'Log Out' | translate}}"
          (click)="connect()">
          <button mat-icon-button>
            <mat-icon>lock_open</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>
<arlas-share #share [icon]="'share'" [hidden]="true"></arlas-share>
<arlas-about #about [pathToMd]="aboutFile" [extraTextData]="extraAboutText"></arlas-about>
<arlas-download #download [collections]="collections" [hidden]="true"></arlas-download>
<arlas-tag #tag></arlas-tag>
<mat-menu #tagMenu="matMenu">
  <button mat-menu-item (click)="displayTag()">
    <mat-icon>add_circle_outline</mat-icon>
    <span>{{ 'Add' | translate }}</span>
  </button>
  <button mat-menu-item (click)="displayTagManagement()">
    <mat-icon>replay</mat-icon>
    <span>{{ 'Replay' | translate }}</span>
  </button>
</mat-menu>
