/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */



.value-unit .unit {
  font-weight: 200;
  font-size: 1em;
}

.menu-chip {
  color: white;
}

.menu-chip-button {
  color: white;

}

.filter-chip {
  height: 30px;
  padding-top: unset !important;
  display: flex;
  align-items: center;
}

.filter-chip__label {
  color: white;
}

.filter-chip__icon_close {
  font-size: 12px !important;
  width: 12px !important;
  height: 12px !important;
  float: unset;
  margin-top: -10px;
}

.filter-chip__icon {
  font-size: 16px !important;
  width: 18px !important;
  height: 16px !important;
  margin-left: 3px;
  margin-right: 0px;
}

.filter-count {
  color: white;
  font-size: 1.1em !important;
  font-weight: 300 !important;
  height: 30px;
}

.filter-chip__label {
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 8px;
  margin-bottom: 10px;
  font-size: 1em;
  height: 26px;
  float: left;
}
