/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.arlas-histogram-analytics .histogram__description{
  display: none;
}

.arlas-histogram-analytics .histogram__chart--current-selected--area{
  fill: #80CBC4;
  fill-opacity: 1;
  stroke: #80CBC4;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.arlas-histogram-analytics .histogram__chart--fixed-selected--area{
  fill: #80CBC4;
  fill-opacity: 1;
  stroke: none;
}

.arlas-histogram-analytics .histogram__chart--unselected--area{
  fill: #EEEEEE;
  fill-opacity: 1;
  stroke: none;
}

.arlas-histogram-analytics .histogram__chart .context .brush .selection{
  fill: #BDBDBD;
  fill-opacity: 0.2;
  stroke:none;
}

.arlas-histogram-analytics .histogram__chart--bar__partlyselected {
  fill: #9de0ad;
  fill-opacity: 1;
  stroke: none;
}

.arlas-histogram-analytics .histogram__chart--bar__currentselection{
  fill: #80CBC4;
  fill-opacity: 1;
  stroke: none;
}

.arlas-histogram-analytics .histogram__chart--bar__fullyselected{
  fill: #80CBC4;
  fill-opacity: 1;
  stroke: none;
}

.arlas-histogram-analytics .histogram__chart--bar {
  fill: #EEEEEE;
  fill-opacity: 1;
  stroke: none;
}

.analytics-board-card {
  margin: 3px 0 3px 0 !important;
}

.arlas-histogram-analytics .histogram__tooltip {
  background-color: #78909C;
}

.arlas-histogram-analytics .histogram__brush--handles {
  stroke: #78909C;
  stroke-width: 1px;
  fill: white;
}

.arlas-histogram-analytics .tick text {
  fill: #BDBDBD;
  font-size: 0.9em;
}

.arlas-histogram-analytics .histogram__ticks{
  stroke: #BDBDBD;
  stroke-width: 0.8px;
}
.arlas-histogram-analytics .histogram__axis{
  stroke: #BDBDBD;
  stroke-width: 0.8px;
}

.arlas-histogram-analytics .histogram__only-axis .domain{
  stroke: #BDBDBD;
  stroke-width: 0.8px;
}

.arlas-histogram-analytics-not-selectable .histogram__description{
  display: none;
}

.arlas-histogram-analytics-not-selectable .histogram__chart--bar {
  fill: #80CBC4;
  fill-opacity: 1;
  stroke: none;
}

.arlas-histogram-analytics-not-selectable .tick text {
  fill: #BDBDBD;
  font-size: 0.9em;
}

.arlas-histogram-analytics-not-selectable .histogram__ticks{
  stroke: #BDBDBD;
  stroke-width: 0.8px;
}

.arlas-histogram-analytics-not-selectable .histogram__axis{
  stroke: #BDBDBD;
  stroke-width: 0.8px;
}

.arlas-histogram-analytics-not-selectable .histogram__only-axis .domain{
  stroke: #BDBDBD;
  stroke-width: 0.8px;
}

.arlas-histogram-analytics-not-selectable .histogram__chart--current-selected--area {
  fill: #80CBC4;
  stroke: #80CBC4
}

.arlas-swimlane-filter .histogram__chart--bar {
  fill-opacity: 0.3;
  stroke-opacity: 0.1;
}

.analytics-board-content .group-item-title{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #656565 !important;
}

.analytics-board-content .detail-item{
  color: #FF4081 !important;
}

.analytics-board-content .resultdetaileditem-key{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #656565;
}

.analytics-board-content .resultdetaileditem-value{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #656565;
}
