.custom-arlas-histogram__thumbnail{
  color: #215c54;
  font-size: 0.8em;
  font-weight: bold;
}

.histogram .custom-arlas-histogram__thumbnail{
  width: 100%;
  height: 0;
  margin-right: 3px;
}

.custom-arlas-histogram__thumbnail .histogram__description {
  display: block;
  font-weight: normal;
  color: #215c54;
  font-size: 0.8em;
}

.custom-arlas-histogram__thumbnail .histogram__description__startvalue--background {
  background: white;
}

.custom-arlas-histogram__thumbnail .histogram__description__endvalue--background {
  background: white;
}

.custom-arlas-histogram__thumbnail .histogram__chart .context .brush .selection{
  fill: white;
  fill-opacity: 0;
  stroke: white;
  stroke-width:0px;
}

.custom-arlas-histogram__thumbnail .histogram__chart--area{
  fill: #14B0CC;
  fill-opacity: 1;
  stroke: #14B0CC;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.custom-arlas-histogram__thumbnail .histogram__chart--bar__fullyselected {
  fill: #14B0CC;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.5px;
  stroke-opacity: 1;
}

.custom-arlas-histogram__thumbnail .histogram__chart--bar__partlyselected {
  fill: #14B0CC;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.5px;
  stroke-opacity: 1;
}

.custom-arlas-histogram__thumbnail .histogram__chart--bar {
  fill: #14B0CC;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.5px;
  stroke-opacity: 1;
}

.custom-arlas-histogram__thumbnail .histogram__tooltip {
  background: #41B3A3;
}

.custom-arlas-histogram__thumbnail .tick text {
  fill: white;
}

.custom-arlas-histogram__thumbnail .histogram__ticks{
  stroke: white;
  stroke-width: 0.8px;
}
.custom-arlas-histogram__thumbnail .histogram__axis{
  stroke: white;
  stroke-width: 0.8px;
}
