/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.arlas-histogram-analytics .histogram__description {
  display: none;
}

.arlas-histogram-analytics .histogram__chart--current-selected--area {
  fill: #80cbc4;
  fill-opacity: 1;
  stroke: #80cbc4;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.arlas-histogram-analytics .histogram__chart--fixed-selected--area {
  fill: #80cbc4;
  fill-opacity: 1;
  stroke: none;
}

.arlas-histogram-analytics .histogram__chart--unselected--area {
  fill: #eeeeee;
  fill-opacity: 1;
  stroke: none;
}

.arlas-histogram-analytics .histogram__chart .context .brush .selection {
  fill: #bdbdbd;
  fill-opacity: 0.2;
  stroke: none;
}

.arlas-histogram-analytics .histogram__chart--bar__currentselection{
  fill: #FFF !important;
  stroke: #a5a5a5 !important;
  stroke-width: 0.4px;
}
.arlas-histogram-analytics .histogram__chart--bar__partlyselected
{
  fill: #FFF !important;
  stroke: #a5a5a5 !important;
  stroke-width: 0.4px;
}
.arlas-histogram-analytics .histogram__chart--bar__fullyselected
{
  fill: #FFF !important;
  stroke: #a5a5a5 !important;
  stroke-width: 0.4px;
}
.arlas-histogram-analytics .histogram__chart--bar
{
  fill: #FFF !important;
  stroke: #b7b7b7 !important;
  stroke-width: 0.4px;
  stroke-opacity: 1;
}

.arlas-histogram-analytics .headband_currentselection
{
  fill: #4ECDC4 !important;
  stroke: #4ECDC4 !important;
  stroke-width: 0.4px !important;;
  height: 1.5px !important;
}

.arlas-histogram-analytics .headband_currentselection_max
{
  fill: rgb(238, 35, 69) !important;
  stroke: rgb(238, 35, 69) !important;
  stroke-width: 0.4px !important;;
  height: 1.5px !important;
}
.arlas-histogram-analytics .headband_partlyselected
{
  fill: #4ECDC4 !important;
  stroke: #4ECDC4 !important;
  stroke-width: 0.4px !important;
  height: 1.5px !important;
}
.arlas-histogram-analytics .headband_fullyselected{
  fill: #4ECDC4 !important;
  stroke: #4ECDC4 !important;
  stroke-width: 0.4px !important;
  height: 1.5px !important;
}
.arlas-histogram-analytics .headband_notselected
{
  fill: #FFF !important;
  stroke: #b7b7b7 !important;
  stroke-width: 0 !important;
  height: 0 !important;
}


.arlas-histogram-analytics .histogram__brush--handles {
  stroke: #78909c;
  stroke-width: 1px;
  fill: white;
}

.arlas-histogram-analytics .tick text {
  fill: #b4b3b3;
  font-size: 0.9em;
}

.arlas-histogram-analytics .histogram__ticks {
  stroke: #bdbdbd;
  stroke-width: 0.8px;
}
.arlas-histogram-analytics .histogram__axis {
  stroke: #bdbdbd;
  stroke-width: 0.8px;
}

.arlas-histogram-analytics .histogram__only-axis .domain {
  stroke: #bdbdbd;
  stroke-width: 0.8px;
}

.arlas-histogram-analytics-not-selectable .histogram__description {
  display: none;
}

.arlas-histogram-analytics-not-selectable .histogram__chart--bar {
  fill: #80cbc4;
  fill-opacity: 1;
  stroke: none;
}

.arlas-histogram-analytics-not-selectable .tick text {
  fill: #b4b3b3;
  font-size: 0.9em;
}

.arlas-histogram-analytics-not-selectable .histogram__ticks {
  stroke: #bdbdbd;
  stroke-width: 0.8px;
}

.arlas-histogram-analytics-not-selectable .histogram__axis {
  stroke: #bdbdbd;
  stroke-width: 0.8px;
}

.arlas-histogram-analytics-not-selectable .histogram__only-axis .domain {
  stroke: #bdbdbd;
  stroke-width: 0.8px;
}

.arlas-histogram-analytics-not-selectable
  .histogram__chart--current-selected--area {
  fill: #80cbc4;
  stroke: #80cbc4;
}

.arlas-swimlane-filter .histogram__chart--bar {
  fill-opacity: 0.3;
  stroke-opacity: 0.1;
}


/** apply the blue style to histograms that have a time dimension on x-axis**/

.arlas-timeline-analytics .histogram__description {
  display: none;
}

.arlas-timeline-analytics .histogram__chart--current-selected--area {
  fill: #4ecdc4;
  fill-opacity: 1;
  stroke: #4ecdc4;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.arlas-timeline-analytics .histogram__chart--fixed-selected--area {
  fill: #4ecdc4;
  fill-opacity: 1;
  stroke: none;
}

.arlas-timeline-analytics .histogram__chart--unselected--area {
  fill: #eeeeee;
  fill-opacity: 1;
  stroke: none;
}

.arlas-timeline-analytics .histogram__chart .context .brush .selection {
  fill: #4ecdc4;
  fill-opacity: 0;
  stroke: none;
}

.arlas-timeline-analytics .histogram__chart--bar__partlyselected {
  fill: #4ecdc4;
  fill-opacity: 1;
  stroke: none;
}

.arlas-timeline-analytics .histogram__chart--bar__currentselection {
  fill: #4ecdc4;
  fill-opacity: 1;
  stroke: none;
}

.arlas-timeline-analytics .histogram__chart--bar__fullyselected {
  fill: #4ecdc4;
  fill-opacity: 1;
  stroke: none;
}

.arlas-timeline-analytics .histogram__chart--bar {
  fill: #eeeeee;
  fill-opacity: 1;
  stroke: none;
}

.arlas-timeline-analytics .histogram__brush--handles {
  stroke: #78909c;
  stroke-width: 1px;
  fill: white;
}

.arlas-timeline-analytics .tick text {
  fill: #b4b3b3;
  font-size: 0.9em;
}

.arlas-timeline-analytics .histogram__ticks {
  stroke: #bdbdbd;
  stroke-width: 0.8px;
}
.arlas-timeline-analytics .histogram__axis {
  stroke: #bdbdbd;
  stroke-width: 0.8px;
}

.arlas-timeline-analytics .histogram__only-axis .domain {
  stroke: #bdbdbd;
  stroke-width: 0.8px;
}


/** TIMELINE BARS**/
.arlas-timeline-analytics .histogram__chart--bar__currentselection{
  fill: #FFF !important;
  stroke: #a5a5a5 !important;
  stroke-width: 0.4px;
}
.arlas-timeline-analytics .histogram__chart--bar__partlyselected
{
  fill: #FFF !important;
  stroke: #a5a5a5 !important;
  stroke-width: 0.4px;
}
.arlas-timeline-analytics .histogram__chart--bar__fullyselected
{
  fill: #FFF !important;
  stroke: #a5a5a5 !important;
  stroke-width: 0.4px;
}
.arlas-timeline-analytics .histogram__chart--bar
{
  fill: #FFF !important;
  stroke: #b7b7b7 !important;
  stroke-width: 0.4px;
  stroke-opacity: 1;
}
/** TIMELINE HEADBANDS**/
.arlas-timeline-analytics .headband_currentselection
{
  fill: #2196F3 !important;
  stroke: #2196F3 !important;
  stroke-width: 0.4px !important;;
  height: 1.5px !important;
}
.arlas-timeline-analytics .headband_currentselection_max
{
  fill: rgb(201, 0, 100) !important;
  stroke: rgb(201, 0, 100) !important;
  stroke-width: 0.4px !important;;
  height: 1.5px !important;
}
.arlas-timeline-analytics .headband_partlyselected
{
  fill: #2196F3 !important;
  stroke: #2196F3 !important;
  stroke-width: 0.4px !important;
  height: 1.5px !important;
}
.arlas-timeline-analytics .headband_fullyselected{
  fill: #2196F3 !important;
  stroke: #2196F3 !important;
  stroke-width: 0.4px !important;
  height: 1.5px !important;
}

.tooltip_histogram_bar {
  fill: #EAEAEA !important;
  stroke: #EAEAEA !important;
}
.arlas-timeline-analytics .headband_notselected
{
  fill: #FFF !important;
  stroke: #b7b7b7 !important;
  stroke-width: 0 !important;
  height: 0 !important;
}
