.mapboxgl-ctrl-scale {
  top: calc(-100vh + 30px) !important;
  position: absolute !important;
  right: 0;
}

.mapboxgl-ctrl-top-right {
  top : 30px !important;
}

.map__layers-list--container {
  top : 40px !important;
}
