.arlas-gl-geobox-chip {
  background-color: #14B0CC;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
  position: absolute;
  top: 50px!important;
  right:15px!important;
  z-index: 1000;
  height: 30px;
  padding: 5px 8px 0 8px;
}

.boxdraw {
  background: transparent;
  border: 2px solid black;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
