/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.mapboxgl-ctrl-scale {
  bottom: 155px !important;
  position: absolute !important;
  right: -2px;
}

.arlas-map.timeline-close .mapboxgl-ctrl-scale {
  bottom: -5px !important;
}

.mapboxgl-ctrl-attrib {
  padding: 0 1px !important;
  position: absolute;
  right: 3px;
  bottom: calc(100vh - 60px) !important;
  width: 240px;
}

.mapboxgl-ctrl-top-right {
  top: 95px !important;
}

.map__layers-list--container {
  top: 50px !important;
  border-radius: 4px;
  right: 43px !important;
}

.map__visu-list--wrapper {
  top: 65px !important;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 0 5px;
}

.map__visu-list--wrapper .map_legend-button--wrapper {
  width: 31px;
  border-radius: unset;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.map__visu-list--wrapper .map_legend-button-icon {
  height: 29px !important;
}

.map__visu-list--container {
  padding: 0 !important;
  box-shadow: none;
  max-height: calc(100vh - 215px);
}

.map__visu-container {
  margin: 0 !important;
  border-radius: unset !important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 5px 7px 0 0 !important;
}

.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: unset !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: unset;
}
