/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import "variables.scss";
@import "app/sizes.scss";
@import "app/mixin.scss";

.mapboxgl-ctrl-scale {
  position: absolute;
  // Remove the width of the border to align with the coordinates
  // This is due to the way the width is computed for the scale
  bottom: calc($sm-spacing + $timeline-height - $map-scale-border-width);
  right: $sm-spacing;
  margin: 0 !important;
  margin-bottom: $xs-margin !important;
}

.maplibregl-ctrl-scale {
  margin: 0 $sm-spacing $sm-spacing 0 !important;
}

.map__layers-list--container {
  top: 50px !important;
  border-radius: 4px;
  right: 43px !important;
}

.main_content {
  .map__visu-list {
    top: calc($sm-spacing + $map-attributions-height + $sm-spacing);
    right: $sm-spacing;
    flex-direction: row-reverse;
    align-items: flex-end;

    .map__legend-button {
      width: $map-actions-width;
      height: $map-actions-width;
      margin-bottom: $sm-spacing;
      @include box-border();
      box-shadow: none;
      padding: 0;

      .mat-icon {
        height: $map-actions-width;
        width: $map-actions-width;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .map__visu-list--container {
      box-shadow: none;
      padding-top: 0;

      .map__visu-item {
        @include box-border();
        margin: 1px 1px 3px;

        .map__visu-content {
          overflow: hidden;
        }
      }
    }
  }
}

.mapboxgl-ctrl-top-right,
.maplibregl-ctrl-top-right {
  top: $sm-spacing !important;
  right: $sm-spacing !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .mapboxgl-ctrl-group,
  .maplibregl-ctrl-group {
    // Leave space to insert map layers button between attributions and map controls
    margin-top: calc($sm-spacing + $map-actions-width + $sm-spacing) !important;
    margin-right: 0 !important;
    width: $map-actions-width;
    @include box-border();
    box-shadow: none !important;

    button {
      align-self: center;
    }
  }

  .maplibregl-ctrl-group {
    // Leave space to insert map layers button between attributions and map controls
    margin-top: calc($sm-spacing + $map-actions-width + $sm-spacing + $maplibre-left-control-correction) !important;
  }
}

.maplibregl-compact {
  margin: 0 !important;

}

.mapboxgl-compact {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  align-self: center;
  height: $map-attributions-height;
  width: $map-attributions-height;

  .mapboxgl-ctrl-attrib-button {
    height: $map-attributions-height;
    width: $map-attributions-height;
    background-color: unset;
    // Align info button inside container
    top: -2px;
    right: 2px;
  }
}

arlas-coordinates {

  .current-coordinate,
  .current-coordinate-edition {
    position: absolute;
    right: calc($map-scale-max-width + $default-spacing);
    bottom: calc($timeline-height + $sm-spacing);
    background-color: white;
    color: black;
    font-size: smaller;
    padding: 0 $sm-spacing;
    // Height to match the height of the map scale
    height: $map-scale-height;
    display: flex;
    align-items: center;
    @include box-border();
    box-sizing: border-box;

    .lat {
      width: 110px;
    }

    .lng {
      width: 105px;
    }
  }

  .current-coordinate-edition {
    height: unset;
    z-index: 2;
  }
}

.map-container-tight-coordinates {

  ::ng-deep.current-coordinate,
  ::ng-deep.current-coordinate-edition {
    // Center regarding to timeline tools
    right: $sm-spacing !important;
    bottom: calc($timeline-height + $sm-spacing + $map-scale-height + $sm-spacing);
  }
}