/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use 'variables.scss' as var;

.analytics-board-card .resultlist__header--columns__geosort-action-button {
  width: 24px;
  height: 24px;
}
.resultlist__tools__td {
  box-sizing: border-box;
}

.analytics-board-content .group-item-title,
.resultlist__wrapper .group-item-title {
  color: #656565 !important;
}

.analytics-board-content .detail-item,
.resultlist__wrapper .detail-item {
  color: var(--mat-sys-primary) !important;
  display: inline-block;
}

.analytics-board-content .resultdetaileditem-key,
.resultlist__wrapper .resultdetaileditem-key {
  color: #656565;
}

.analytics-board-content .resultdetaileditem-value,
.resultlist__wrapper .resultdetaileditem-value {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #656565;
}

.resultitem-list__actions {
  cursor: pointer;
}

.resultitem-grid__actions {
  cursor: pointer;
}

.resultgrid__info-view-button, .resultgrid__info-show-button, .resultgrid__info-close-button {
  top: 5px;
  right: 15px;
  background-color: #fff !important;
  color: #000 !important;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.analytics-board-card table.resultlist>tbody {
  height: 400px !important;
}

.resultlist__preview {
  table.resultlist>tbody {
    height: calc(100vh - var.$top-menu-height) !important;
  }

  table.resultlist>thead,
  table.resultlist .resultgrid__icon_check,
  table.resultlist .resultlist-thumbnails-fit {
    display: none;
  }
}

.resultlist__wrapper .resultgrid__title-highlight- {
  margin: unset !important;
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
}
