/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.analytics-board-card .resultlist__header--columns__geosort-action-button {
  width: 24px;
  height: 24px;
}

.resultlist__tools__td{
  align-items: center !important;
}

.analytics-board-content .group-item-title,
.side-result-list .group-item-title {
  color: #656565 !important;
}

.analytics-board-content .detail-item,
.side-result-list .detail-item {
  color: #ff4081 !important;
  display: inline-block;
}

.analytics-board-content .resultdetaileditem-key,
.side-result-list .resultdetaileditem-key {
  color: #656565;
}

.analytics-board-content .resultdetaileditem-value,
.side-result-list .resultdetaileditem-value {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #656565;
}

.mapboxgl-popup-content .resultdetaileditem-value {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #656565;
}

.mapboxgl-popup-content .group-item-title {
  color: #656565 !important;
}

.mapboxgl-popup-content .detail-item {
  color: #ff4081 !important;
  display: inline-block;
}

.mapboxgl-popup-content .resultdetaileditem-key {
  color: #656565;
}

.download-onhover-action{
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2720%27%20height%3D%2720%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M0%200h24v24H0z%27%20fill%3D%27none%27%2F%3E%3Cpath%20d%3D%27M19.35%2010.04C18.67%206.59%2015.64%204%2012%204%209.11%204%206.6%205.64%205.35%208.04%202.34%208.36%200%2010.91%200%2014c0%203.31%202.69%206%206%206h13c2.76%200%205-2.24%205-5%200-2.64-2.05-4.78-4.65-4.96zM17%2013l-5%205-5-5h3V9h4v4h3z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E") !important;
  cursor:pointer;
}

.zoomToFeature-onhover-action {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2720%27%20height%3D%2720%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%27%20fill%3D%27%23000000%27%2F%3E%3Cpath%20fill%3D%27none%27%20d%3D%27M0%200h24v24H0V0z%27%2F%3E%3Cpath%20d%3D%27M12%2010h-2v2H9v-2H7V9h2V7h1v2h2v1z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E") !important;
  cursor:pointer;
}

.visualize-onhover-action{
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2720%27%20height%3D%2720%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M0%200h24v24H0z%27%20fill%3D%27none%27%2F%3E%3Cpath%20d%3D%27M12%202C6.48%202%202%206.48%202%2012s4.48%2010%2010%2010%2010-4.48%2010-10S17.52%202%2012%202zm-1%2017.93c-3.95-.49-7-3.85-7-7.93%200-.62.08-1.21.21-1.79L9%2015v1c0%201.1.9%202%202%202v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55%200%201-.45%201-1V7h2c1.1%200%202-.9%202-2v-.41c2.93%201.19%205%204.06%205%207.41%200%202.08-.8%203.97-2.1%205.39z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E") !important;
  cursor:pointer;
}
.resultitem-list__actions {
  cursor: pointer;
}

.resultitem-grid__actions {
  cursor: pointer;
}