
.airlines-swimlane .histogram__description--display{
  color: black;
  padding-top: 5px;
}

.airlines-swimlane .histogram__description__title{
  color: black;
}

.airlines-swimlane .histogram__description{
  font-size: 1em;
  font-weight: 300;
}

.airlines-swimlane .histogram__description__startvalue--background,
.airlines-swimlane .histogram__description__endvalue--background{
  background-color: white;
}

.airlines-swimlane .histogram__tooltip{
  background-color: #78909C;
}

.airlines-swimlane .histogram__brush--handles{
  stroke: #B0BEC5;
  fill: #B0BEC5;
}
