/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.arlas-timeline .histogram__chart .context .brush .selection,
.arlas-detailed-timeline .histogram__chart .context .brush .selection {
  fill: #BDBDBD;
  fill-opacity: 0.2;
  stroke: none;
}

.arlas-timeline .histogram__description {
  font-size: 1em;
  font-weight: 300;
  display: none;
}

.arlas-timeline .headband_currentselection,
.arlas-timeline-analytics .headband_currentselection {
  height: 0;
}

.arlas-timeline .headband_partlyselected,
.arlas-timeline-analytics .headband_partlyselected {
  height: 0;
}

.arlas-timeline .headband_fullyselected,
.arlas-timeline-analytics .headband_fullyselected {
  height: 0;
}

.arlas-detailed-timeline .histogram__description {
  display: none;
}

.arlas-detailed-timeline .histogram__chart--current-selected--area {
  fill: #2196F3;
  fill-opacity: 1;
  stroke: #2196F3;
  stroke-width: 2px;
  stroke-opacity: 5;
}

.arlas-detailed-timeline .histogram__chart--unselected--area {
  fill: #EEEEEE;
  fill-opacity: 1;
  stroke: none;
}

.arlas-timeline-toolkit .arlas-timeline--tools {
  padding: 0 0 0 0 !important;
  bottom: 130px !important;
  border-radius: 4px 4px 0 0;
  overflow: hidden !important;
}

.arlas-timeline .histogram__description--display {
  color: black;
  padding-top: 5px;
}

.arlas-timeline .histogram__description__title {
  color: black;
}

.arlas-timeline .histogram__description__startvalue--background,
.arlas-timeline .histogram__description__endvalue--background {
  background-color: white;
}

.arlas-timeline .histogram__chart--current-selected--area {
  fill: #2196F3;
  fill-opacity: 1;
  stroke: #2196F3;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.arlas-timeline .histogram__chart--fixed-selected--area {
  fill: #2196F3;
  fill-opacity: 1;
  stroke: none;
}

/** TIMELINE BARS**/
.arlas-timeline .histogram__chart--bar__currentselection,
.arlas-detailed-timeline .histogram__chart--bar__currentselection {
  fill: #FFF !important;
  stroke: #a5a5a5 !important;
  stroke-width: 0.4px;
}

.arlas-timeline .histogram__chart--bar__partlyselected,
.arlas-detailed-timeline .histogram__chart--bar__partlyselected {
  fill: #FFF !important;
  stroke: #a5a5a5 !important;
  stroke-width: 0.4px;
}

.arlas-timeline .histogram__chart--bar__fullyselected,
.arlas-detailed-timeline .histogram__chart--bar__fullyselected {
  fill: #FFF !important;
  stroke: #a5a5a5 !important;
  stroke-width: 0.4px;
}

.arlas-timeline .histogram__chart--bar,
.arlas-detailed-timeline .histogram__chart--bar {
  fill: #FFF !important;
  stroke: #b7b7b7 !important;
  stroke-width: 0.4px;
  stroke-opacity: 1;
}

/** TIMELINE HEADBANDS**/
.arlas-timeline .headband_currentselection,
.arlas-detailed-timeline .headband_currentselection {
  fill: #2196F3 !important;
  stroke: #2196F3 !important;
  stroke-width: 0.4px !important;
  ;
  height: 1.5px !important;
}

.arlas-timeline .headband_currentselection_max,
.arlas-detailed-timeline .headband_currentselection_max {
  fill: rgb(201, 0, 100) !important;
  stroke: rgb(201, 0, 100) !important;
  stroke-width: 0.4px !important;
  ;
  height: 1.5px !important;
}

.arlas-timeline .headband_partlyselected,
.arlas-detailed-timeline .headband_partlyselected {
  fill: #2196F3 !important;
  stroke: #2196F3 !important;
  stroke-width: 0.4px !important;
  height: 1.5px !important;
}

.arlas-timeline .headband_fullyselected,
.arlas-detailed-timeline .headband_fullyselected {
  fill: #2196F3 !important;
  stroke: #2196F3 !important;
  stroke-width: 0.4px !important;
  height: 1.5px !important;
}

.arlas-timeline .headband_notselected,
.arlas-detailed-timeline .headband_notselected {
  fill: #FFF !important;
  stroke: #b7b7b7 !important;
  stroke-width: 0 !important;
  height: 0 !important;
}

.arlas-timeline .histogram__no-chart__key,
.arlas-timeline-not-selectable .histogram__no-chart__key {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #757575;
}

.arlas-timeline .histogram__no-chart__value,
.arlas-timeline-not-selectable .histogram__no-chart__value {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #757575;
}

.arlas-timeline .histogram__ticks,
.arlas-timeline-not-selectable .histogram__ticks {
  stroke: #bdbdbd;
  stroke-width: 1px;
}

.arlas-timeline .histogram__axis {
  stroke: #bdbdbd;
  stroke-width: 1px;
}



.arlas-detailed-timeline .histogram__axis {
  stroke: #bdbdbd;
  stroke-width: 1px;
}


.arlas-detailed-timeline .tick text,
.arlas-timeline .tick text,
.arlas-timeline-not-selectable .tick text {
  fill: #757575;
  font-size: 1em;
}

.arlas-timeline .histogram__brush--handles,
.arlas-detailed-timeline .histogram__brush--handles {
  stroke: #78909C;
  fill: white;
}

.arlas-timeline-not-selectable .histogram__chart--bar {
  fill: #2196F3;
  fill-opacity: 1;
  stroke: none;
}

.arlas-timeline-not-selectable .histogram__chart--current-selected--area {
  fill: #2196F3;
  fill-opacity: 1;
  stroke: #2196F3;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.shortcut-remove-filter {
  margin: 0 2px;
}

.shortcut-button span{
  display: flex;
  align-items: center;
}

.arlas-time-shortcuts__list--container {
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

/* Date Picker */

.arlas-date-picker-input-from, .arlas-date-picker-input-to {
  background-color: #FF4081;
  color: white;
  border: none;
  min-width: 165px;
}

.arlas-date-picker-label-from, .arlas-date-picker-label-to {
  margin-bottom: 0;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: #FF4081;
}

.owl-dt-container-buttons {
  color: #FF4081;
}
