.custom-arlas-timeline{
  background-color: transparent;
}

.custom-arlas-timeline .histogram__description__title{
  color: #215c54;
  font-weight: bold;
}

.custom-arlas-timeline .histogram__chart .context .brush .selection{
  fill: #C3E0DE;
  fill-opacity: O.2;
  stroke: #41B3A3;
  stroke-width:1px;
}


.custom-arlas-timeline .histogram__description__startvalue--background,
.custom-arlas-timeline .histogram__description__endvalue--background{
  background-color: transparent;
}

.custom-arlas-timeline .histogram__chart--area{
    fill: #C36784;
    fill-opacity: 1;
    stroke: #043B53;
    stroke-width: 1px;
    stroke-opacity: 1;
}
.custom-arlas-timeline .histogram__description__title {
  display: none;
}
.custom-arlas-timeline .histogram__no-chart__key {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #043B53;
}

.custom-arlas-timeline .histogram__no-chart__value {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #043B53;
}

.custom-arlas-timeline .histogram__description__endvalue,
.custom-arlas-timeline .histogram__description__startvalue {
  color: #C36784;
  font-weight: bold;

}

.custom-arlas-timeline .axis path{
  stroke: #544b4e;
}

.custom-arlas-timeline .histogram__ticks{
  stroke: #544b4e;
  stroke-width: 1.5px;
}

.custom-arlas-timeline .histogram__axis{
  stroke: #8f9191;
  stroke-width: 1.5px;
}

.custom-arlas-timeline .tick text{
  fill: #215c54;
  /*text-shadow: 0 0 0.4em #215c54, 0 0  0.4em #215c54;*/
  font-size: 1em;
}


.custom-arlas-timeline .tick text{
    font-size: small;
}
