<mat-stepper [linear]="true" #styleStepper class="stepper">
    <mat-step [stepControl]="geometryForm">
        <ng-template matStepLabel>{{ 'Shape' | translate }}</ng-template>
        <div class="title">{{ 'Shape' | translate }}</div>
        <arlas-config-form [form]="geometryForm.customControls.shape"></arlas-config-form>
    </mat-step>
    <mat-step [stepControl]="fillForm">
        <ng-template matStepLabel>{{ 'Geometry fill' | translate }}</ng-template>
        <div class="title">{{ 'Opacity' | translate }}</div>
        <arlas-config-form [form]="fillForm.customControls.opacity"></arlas-config-form>
        <div class="title">{{ 'Color' | translate }}</div>
        <arlas-config-form [form]="fillForm.customControls.color"></arlas-config-form>
    </mat-step>
    <mat-step [stepControl]="strokeForm" *ngIf="strokeForm.customControls">
        <ng-template matStepLabel>{{ 'Geometry stroke' | translate }}</ng-template>
        <ng-container *ngIf="geometryForm.customControls.shape.value === GEOMETRY_TYPE.line">
            <div class="title"> {{ 'Line Type' | translate }}</div>
            <arlas-config-form [form]="strokeForm.customControls.lineType"></arlas-config-form>
            <!-- <div class="title"> {{ 'Line Width' | translate }}</div>
            <arlas-config-form [form]="strokeForm.customControls.lineWidth"></arlas-config-form> -->
        </ng-container>
    </mat-step>
</mat-stepper>