<div class="wrapper">
    <div class="title-wrapper">
        <span>{{'BBox generator' | translate}}</span>
        <mat-icon>clear</mat-icon>
    </div>
    <div class="content">
        <div class="description">
            <mat-icon>info</mat-icon>
            <span>{{DESCRIPTION}}</span>
        </div>
        <div class="section">
            <div class="title">{{'First corner'}}</div>
            <div class="lat">
                <mat-form-field appearance="outline">
                    <mat-label>{{'Lat'}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="lng">
                <mat-form-field appearance="outline">
                    <mat-label>{{'Lng'}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="section">
            <div class="title">{{'Second corner'}}</div>
            <div class="lat">
                <mat-form-field appearance="outline">
                    <mat-label>{{'Lat'}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="lng">
                <mat-form-field appearance="outline">
                    <mat-label>{{'Lng'}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        
    </div>
</div>