<div *ngIf="action.type === ConfigListActionEnum.DELETE">
    <h2 mat-dialog-title>{{'Delete' | translate}} {{action.config.name | getConfigListName}}?</h2>
    <mat-dialog-content>{{'This will delete' | translate}} {{action.config.name | getConfigListName}} {{'element and cannot be undone.' | translate}}</mat-dialog-content>
    <mat-dialog-actions>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-raised-button class="modal_button" color="primary"  [mat-dialog-close]="action.config.id">{{'Delete' | translate}}</button>
        <button mat-raised-button class="modal_button" [mat-dialog-close]="false">{{'Cancel' | translate}}</button>
    </mat-dialog-actions>
</div>

<div *ngIf="action.type === ConfigListActionEnum.DUPLICATE">
    <h2 mat-dialog-title>{{'Duplicate' | translate}} {{action.config.name | getConfigListName}}?</h2>
    <div mat-dialog-content>
        <mat-form-field class="example-form-field">
            <mat-label>{{'New name' | translate}}</mat-label>
            <input matInput type="text" [(ngModel)]="value" (focus)="errorMessage=''">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <span style="color: red; display: block;">{{errorMessage | translate}}</span>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="modal_button" color="primary" (click)="duplicate(value, action.config.id)">{{ 'Duplicate' | translate}}</button>
        <button mat-raised-button class="modal_button" [mat-dialog-close]="false">{{ 'Cancel' | translate}}</button>
    </div>
</div>

<div *ngIf="action.type === ConfigListActionEnum.RENAME">
    <h2 mat-dialog-title>{{'Rename' | translate}} {{action.config.name | getConfigListName}}?</h2>
    <div mat-dialog-content>
        <mat-form-field class="example-form-field">
            <mat-label>{{'New name' | translate}}</mat-label>
            <input matInput type="text" [(ngModel)]="value" (focus)="errorMessage=''">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <span style="color: red; display: block;">{{errorMessage | translate}}</span>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="modal_button" color="primary" (click)="rename(value, action.config.id)">{{ 'Rename' | translate}}</button>
        <button mat-raised-button class="modal_button" [mat-dialog-close]="false">{{ 'Cancel' | translate}}</button>
    </div>
</div>

<div *ngIf="action.type === ConfigListActionEnum.CREATE">
  <h2 mat-dialog-title>{{'Add a new style of list' | translate}}</h2>
  <div mat-dialog-content>
      <mat-form-field class="example-form-field">
          <mat-label>{{'Name' | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="value" (focus)="errorMessage=''">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
        <mat-checkbox [(ngModel)]="default"  >Use as default style</mat-checkbox>
      <span style="color: red; display: block;">{{errorMessage | translate}}</span>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button class="modal_button" color="primary" (click)="create(value,default)">{{ 'Create' | translate }}</button>
      <button mat-raised-button class="modal_button" [mat-dialog-close]="false">{{ 'Cancel' | translate }}</button>
  </div>
</div>

<div *ngIf="action.type === ConfigListActionEnum.EDIT">
    <h2 mat-dialog-title>{{'Update style' | translate}}</h2>
    <div mat-dialog-content>
        <mat-form-field class="example-form-field">
            <mat-label>{{'Name' | translate}}</mat-label>
            <input matInput type="text" [(ngModel)]="value" (focus)="errorMessage=''">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
          <mat-checkbox [(ngModel)]="default"  >Use as default style</mat-checkbox>
        <span style="color: red; display: block;">{{errorMessage | translate}}</span>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="modal_button" color="primary" (click)="update(value,default)">{{ 'Update' | translate }}</button>
        <button mat-raised-button class="modal_button" [mat-dialog-close]="false">{{ 'Cancel' | translate }}</button>
    </div>
  </div>

<div *ngIf="action.type === ConfigListActionEnum.SHARE">
  <h2 mat-dialog-title>{{'Share list style' | translate}}</h2>
  <div mat-dialog-content>
      <arlas-share-config [config]="action.config" (updateEmitter)="closeShare($event)" ></arlas-share-config>
  </div>
</div>
