@if (resultlistService.resultlistIsExporting) {
  <mat-progress-bar class="arlas-progression" color="primary" mode="indeterminate"></mat-progress-bar>
}
<mat-tab-group [selectedIndex]="resultlistService.selectedListTabIndex" #tabsList class="result-list-tab-group">
  @for (list of resultlistService.rightListContributors; track list; let listIdx = $index) {
    @let listConfig = list | getResultlistConfig;
    <mat-tab [aria-label]="list.identifier">
      <ng-template mat-tab-label>
        @if (listConfig?.options?.showIcon) {
          <mat-icon class="icon" [matTooltip]="$any(list).name"
              [matTooltipDisabled]="listConfig?.options?.showName">
            {{listConfig?.options?.icon}}
          </mat-icon>
        }
        @if (listConfig?.options?.showName !== false) {
          <span class="name">
            {{$any(list).name | translate}}
          </span>
        }
      </ng-template>
      <div class="list__container">
        @if (resultlistService.listOpen && listIdx === resultlistService.selectedListTabIndex) {
          <arlas-result-list
            #resultList [rowItemList]="list.data" [tableFields]="list.fieldsList"
            [detailedDataRetriever]="list.detailedDataRetriever" [fieldsConfiguration]="list.fieldsConfiguration"
            [dropDownMapValues]="list.dropDownMapValues" [filtersMap]="list.filtersMap"
            [highlightItems]="list.highlightItems" [nbLinesBeforeFetch]="10" [nbGridColumns]="resultListGridColumns"
            [tableWidth]="listWidth"
            [defautMode]="listConfig?.defautMode"
            [selectedGridItem]="listConfig?.selectedGridItem"
            [fetchState]="list.fetchState"
            [globalActionsList]="listConfig?.globalActionsList"
            [isGeoSortEnabled]="listConfig?.isGeoSortActived"
            [options]="listConfig?.options"
            [displayFilters]="listConfig?.displayFilters"
            [useColorService]="listConfig?.useColorService"
            [cellBackgroundStyle]="listConfig?.cellBackgroundStyle"
            [colorsSaturationWeight]="listConfig?.colorsSaturationWeight"
            [keysToColors]="listConfig?.keysToColors"
            [isDetailledGridOpen]="listConfig?.isDetailledGridOpen"
            [currentSortedColumn]="list.identifier | getValue:resultlistService.sortOutput"
            [isGeoSortActivated]="list.identifier | getValue:resultlistService.isGeoSortActivated"
            [activatedActionsPerItem]="actionManager.activeActionsPerContId?.get(list.identifier)"
            (visibleItems)="updateMapStyleFromScroll($event, list.collection)"
            (onChangeItems)="updateMapStyleFromChange($event, list.collection)"
            (thumbnailFitEvent)="resultlistService.resultlistConfigPerContId.get(list.identifier).fitThumbnail = $event"
            (setFiltersEvent)="list.setFilters($event)"
            (sortColumnEvent)="sortColumn(list, $event)"
            (paginationEvent)="paginate(list, $event)"
            (geoSortEvent)="geoSort(list, $event)"
            (geoAutoSortEvent)="geoAutoSort(list, $event)"
            (consultedItemEvent)="consultItem(list, $event)"
            (selectedItemsEvent)="selectItems(list, $event)"
            (actionOnItemEvent)="applyActionOnItem(list, $event)"
            (globalActionEvent)="applyGlobalAction(list, $event)"
            (changeResultMode)="changeListResultMode($event, list.identifier)"
            (onListLoaded)="onListLoaded($event)">
          </arlas-result-list>
        }
      </div>
    </mat-tab>
  }
</mat-tab-group>
