@import "../../../styles/variables.scss";

.arlas-progression {
    width: 100%;
    position: absolute;
    top: 0;
}

.result-list-tab-group {
    ::ng-deep.mat-mdc-tab {
        padding: 0 16px;
    }
    ::ng-deep.mdc-tab--active .mdc-tab__text-label {
        color: rgba(0, 0, 0, 0.6);
    }
    ::ng-deep.mdc-tab__text-label {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 0 10px;

        .name {
            flex: 5;
        }
    }

    .list__container {
        height: calc(100vh - 50px - $top-menu-height);
        overflow: hidden;
    }
}


