<arlas-tool-root></arlas-tool-root>
<div class="app-container">
  <div class="arlas-map">
    <arlas-mapgl #map [geojsondata]="mapglContributor?.geojsondata" (onRemoveBbox)="mapglContributor?.onRemoveBbox($event)"
      [style]="mapComponentConfig?.style"
      [margePanForLoad]="mapComponentConfig?.margePanForLoad" [margePanForTest]="mapComponentConfig?.margePanForTest"
      (onChangeBbox)="mapglContributor?.onChangeBbox($event)"
      [initCenter]="initCenter"
      [initZoom]="2"
      [zoomToPrecisionCluster]="mapglContributor?.zoomToPrecisionCluster"
      [idFeatureField]="mapComponentConfig?.idFieldName"
      [maxPrecision]="mapglContributor?.maxPrecision"
      (onMove)="mapglContributor?.onMove($event)"
      [geoboxdata]="mapglContributor?.geojsonbbox"
      [mapLayers]="mapComponentConfig?.mapLayers"
      [displayLayerSwitcher]=true
      [featureToHightLight]="featureToHightLight"
      [featuresToSelect]="featuresToSelect">
    </arlas-mapgl>
  </div>

  <div class="arlas-top-analytics">
    <div class="arlas-search">
      <arlas-search #search (valuesChangedEvent)="filterSearch($event)"></arlas-search>
    </div>
    <span class="arlas-analytics-refresh" [hidden]="!this.refreshButton" (click)="refreshComponents()" matTooltip="Refresh components">
      <mat-icon>refresh</mat-icon>
    </span>
    <span class="arlas-analytics-toggle" [hidden]="!this.analytics" (click)="toggleAnalytics($event)" matTooltip="Toggle analytics board">
      <mat-icon [class.toggle-open]="analyticsOpen">filter_list</mat-icon>
    </span>
  </div>
  <div class="arlas-filters-chips">
    <arlas-filters-chips></arlas-filters-chips>
  </div>

  <div class="arlas-analytics--container" *ngIf="analyticsOpen">
    <arlas-analytics-board [groups]="this.analytics" (boardOutputs)="getBoardEvents($event)" ></arlas-analytics-board>
  </div>

  <div class="arlas-timeline">
    <arlas-histogram #timeline
      [xTicks]="timelineComponentConfig.xTicks" [yTicks]="timelineComponentConfig.yTicks" [id]="timelineComponentConfig.id"
      [xLabels]="timelineComponentConfig.xLabels" [yLabels]="timelineComponentConfig.yLabels" [chartType]="chartType.area" [dataType]="dataType.time"
      [chartTitle]="timelineComponentConfig.chartTitle" [customizedCssClass]="timelineComponentConfig.customizedCssClass" [chartHeight]="timelineComponentConfig.chartHeight"
      [xAxisPosition]="position.top" [descriptionPosition]="position.top" (valuesListChangedEvent)="timelineContributor?.valueChanged($event)"
      [intervalListSelection]="timelineContributor?.intervalListSelection" [multiselectable]="timelineComponentConfig.multiselectable" [brushHandlesHeightWeight]="timelineComponentConfig.brushHandlesHeightWeight"
      [data]="timelineContributor?.chartData" [intervalSelection]="timelineContributor?.intervalSelection"></arlas-histogram>
  </div>
  <mat-progress-bar class="arlas-progression" *ngIf="collaborativeService.totalSubscribe>0" color="primary" mode="indeterminate"></mat-progress-bar>
</div>
