<arlas-tool-root></arlas-tool-root>
<div class="app-container">

  <div class="arlas-map">
    <arlas-mapgl [geojsondata]="mapglcontributor?.geojsondata" (onRemoveBbox)="mapglcontributor?.onRemoveBbox($event)"
    [style]="mapComponentConfig?.basemapUrl"
      [margePanForLoad]="mapComponentConfig?.margeExtendPctForLoad" [margePanForTest]="mapComponentConfig?.margeExtendPctForTest"
      (onChangeBbox)="mapglcontributor?.onChangeBbox($event)"
      [initCenter]="initCenter"
      [initZoom]="2"
      [paintRuleClusterLineRectangle]="mapComponentConfig?.paintRuleClusterLineRectangle"
      [paintRuleClusterFillRectangle]="mapComponentConfig?.paintRuleClusterFillRectangle"
        [paintRuleFeatureLine]="mapComponentConfig?.paintRuleFeatureLine"
        [paintRuleFeatureFill]="mapComponentConfig?.paintRuleFeatureFill"
      [zoomToPrecisionCluster]="mapglcontributor?.zoomToPrecisionCluster"
      [idFeatureField]="mapComponentConfig?.idFieldName"
      [maxPrecision]="mapglcontributor?.maxPrecision"
     [paintRuleGeoBox]="mapComponentConfig?.paintRuleGeoBox"
      [fontClusterlabel]="mapComponentConfig?.fontClusterlabel"
      (onMove)="mapglcontributor?.onMove($event)"
      [drawType]="mapDrawType"
      [geoboxdata]="mapglcontributor?.geojsonbbox">
    </arlas-mapgl>

  </div>

  <div class="arlas-search">
    <arlas-search (valuesChangedEvent)="filterSearch($event)">
    </arlas-search>
  </div>
  <div class="arlas-filters-chips">
    <arlas-filters-chips></arlas-filters-chips>
  </div>

  <div class="arlas-analytics--container">
    <arlas-analytics-board [groups]="this.analytics"></arlas-analytics-board>
  </div>

  <div class="arlas-timeline">
    <arlas-histogram #timeline [xTicks]="7" [yTicks]="2" [xLabels]="7" [yTicks]="2" [chartType]="chartType.area" [dataType]="dataType.time"
      [chartTitle]="'Number of airplanes positions over time'" [customizedCssClass]="'custom-arlas-timeline'" [chartHeight]="100" [dateUnit]="dateUnit.millisecond"
      [xAxisPosition]="position.top" [descriptionPosition]="position.top" (valuesListChangedEvent)="timelinecontributor?.valueChanged($event)"
      [intervalListSelection]="timelinecontributor?.intervalListSelection" [multiselectable]="true"
      [data]="timelinecontributor?.chartData" [intervalSelection]="timelinecontributor?.intervalSelection"></arlas-histogram>
  </div>
  <mat-progress-bar class="arlas-progression" *ngIf="collaborativeService.totalSubscribe>0" color="primary" mode="indeterminate"></mat-progress-bar>
</div>
