<div class="app-container">
  <div class="arlas-map">
      <arlas-mapgl [geojsondata]="mapglcontributor?.geojsondata" (onRemoveBbox)="mapglcontributor?.onRemoveBbox($event)" [style]="mapglcontributor?.getConfigValue('basemapUrl')"
        [margePanForLoad]=40 [margePanForTest]=2 (onChangeBbox)="mapglcontributor?.onChangeBbox($event)"
        [initCenter]="initCenter" [initZoom]="2"
        [paintRuleClusterCircle]="mapglcontributor?.getConfigValue('paintRuleClusterCircle')"
        [paintRuleClusterFeatureLine]="mapglcontributor?.getConfigValue('paintRuleClusterFeatureLine')"
        [paintRuleCLusterFeatureFill]="mapglcontributor?.getConfigValue('paintRuleCLusterFeatureFill')"
        [paintRuleGeoBox]="mapglcontributor?.getConfigValue('paintRuleGeoBox')"
        [fontClusterlabel]="mapglcontributor?.getConfigValue('fontClusterlabel')"
        (onMove)="mapglcontributor?.onMove($event)">
      </arlas-mapgl>
  </div>

  <div class="arlas-timeline">
    <arlas-histogram #timeline [xTicks]="7" [yTicks]="2" [xLabels]="7" [yTicks]="2" [chartType]="chartType.area" [dataType]="dataType.time"
      [chartTitle]="'Number of products over time'" [customizedCssClass]="'custom-arlas-timeline'" [chartHeight]="100" [dateUnit]="dateUnit.millisecond"
      [xAxisPosition]="position.top" [descriptionPosition]="position.top" (valuesChangedEvent)="timelinecontributor?.valueChanged($event)"
      [data]="timelinecontributor?.chartData" [intervalSelection]="timelinecontributor?.intervalSelection"></arlas-histogram>
  </div>
</div>


