.app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.arlas-progression {
  width: 100%;
  position: absolute;
  top: 0;
}

.arlas-map{
  width: 100%;
  height: 100%;
}

.arlas-search{
  position: absolute;
  left: 5px;
  top: 48px;
  background-color: white;
  min-width: 220px;
  max-width: 100%;
  height: 32px;
  z-index: 1000;
  border-radius: 1px;

}

.arlas-filters-chips {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  padding: 5px;
}

.arlas-timeline{
  position: absolute;
  bottom: 5px;
  width: 100%;
  z-index:30000;
  background-color: rgba(255,255,255,0.2);
}

.arlas-analytics-mode, .arlas-analytics-mode--filter {
  position: absolute;
  display: table-cell;
  left: 0;
  top: 90px;
  width: 133px;
  height: 21%;
  background-color: #14B0CC;
  padding-top: 10px;
  z-index: 0;
  cursor: pointer
}

.arlas-analytics-mode--filter {
  width: 510px;
  height: 40.05%;
}

.arlas-analytics-mode__icon {
  position: absolute;
  top: 45%;
  left: 90%;
  font-size: 18px;
  vertical-align: middle;
  float: right;
  color: white;
  height: 18px;
  width: 18px;
  margin: auto;
}

.arlas-analytics-mode--filter__icon {
  position: absolute;
  top: 45%;
  left: 95%;
  font-size: 18px;
  vertical-align: middle;
  float: right;
  color: white;
  height: 18px;
  width: 18px;
  margin: auto;
}

.arlas-analytics__thumbnails {
  position: absolute;
  left: 5px;
  top: 90px;
  width: 120px;
  max-height: calc(100vh - 210px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  z-index: 1;
}

.arlas-analytics__filters {
  position: absolute;
  left: 5px;
  top: 90px;
  width: 500px;
  max-height: calc(100vh - 210px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  z-index: 1;
}

.arlas-analytics__back_to_thumbnails__icon{
  color: white;
  /*background-color: blue;*/
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 20px;
  cursor: pointer;
}

.arlas-analytics__chart-container {
  margin-right: 3px;
}

.arlas-analytics__title {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  color: #fff;
  background-color: #FF3C39;
  border: 1px solid #FF3C39;
  width: 100%;
  padding: 3px;
  text-align: center;
}

.arlas-analytics__title--text{
  margin-top: -2px;
  float: left;
}

.arlas-analytics__display{
  margin: auto;
  margin-top: -2px;
}

.arlas-analytics__icon{
  width: 15px;
  height: 15px;
  font-size: 15px;
  float: left;
  margin-right: 3px;
}

.arlas-analytics__one-analytic {
  width: 100%;
  padding-bottom: 3px;
  height: 100%;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(105, 105, 105, 0.3);
  box-shadow: inset 0 0 6px rgba(105, 105, 105, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #B1AEAE;
}


