.app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.arlas-progression {
  width: 100%;
  position: absolute;
  top: 0;
}

.arlas-map{
  width: 100%;
  height: 100%;
}

.arlas-search{
  padding: 3px;
  position: absolute;
  left: 7px;
  top: 48px;
  width: 425px;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.arlas-analytics-toggle{
  padding: 2px 5px 0px;
  position: absolute;
  left: 435px;
  top: 48px;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
}

.toggle-open{
  transform: rotate(180deg);
}

.arlas-filters-chips {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  padding: 5px;
}

.arlas-timeline{
  position: absolute;
  bottom: 0;
  left:7px;
  right:7px;
  z-index:1000;
  background-color: white;
  padding: 0 5px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.arlas-analytics--container{
  position: absolute;
  left: 5px;
  top: 85px;
  width: 466px;
  max-height: calc(100vh - 215px);
  overflow: auto;
}

.arlas-geojson{
  position: absolute;
  right: 9px;
  bottom: 140px;
}

.arlas-about{
  position: absolute;
  bottom: 135px;
  right: 60px;
  font-size: 12px;
  cursor: pointer;
}

.arlas-about:hover{
  text-decoration: underline;
}

.arlas-tool-menu{
  position:absolute;
  bottom:140px;
  right:7px;
  /* color: #FF4081; */
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(105, 105, 105, 0.3);
  box-shadow: inset 0 0 6px rgba(105, 105, 105, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #B1AEAE;
}
