.app-container {
  width: 100%;
  overflow: hidden;
}

.arlas-map{
  width: 100%;
  height: 100%;
}

.arlas-timeline{
  position: absolute;
  bottom: 5px;
  width: 100%;
  z-index:30000;
  background-color: rgba(255,255,255,.5);
  fill-opacity: 0.5;
}

.arlas-analytics-mode, .arlas-analytics-mode--filter {
  position: absolute;
  display: table-cell;
  left: 0;
  top: 70px;
  width: 133px;
  height: 21%;
  background-color: #41B3A3;
  padding-top: 10px;
  z-index: 0;
  cursor: pointer
}

.arlas-analytics-mode--filter {
  width: 510px;
  height: 40.05%;
}

.arlas-analytics-mode__icon {
  position: absolute;
  top: 45%;
  left: 90%;
  font-size: 18px;
  vertical-align: middle;
  float: right;
  color: white;
  height: 18px;
  width: 18px;
  margin: auto;
}

.arlas-analytics-mode--filter__icon {
  position: absolute;
  top: 45%;
  left: 95%;
  font-size: 18px;
  vertical-align: middle;
  float: right;
  color: white;
  height: 18px;
  width: 18px;
  margin: auto;
}

.arlas-analytics {
  position: absolute;
  left: 0;
  top: 70px;
  width: 170px;
  height: 21%;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding-top: 10px;
  margin-left: -45px;
  z-index: 1;
}

.arlas-analytics__filters {
  position: absolute;
  left: 0;
  top: 70px;
  width: 500px;
  height: 40%;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding-top: 10px;
  z-index: 1;
}

.arlas-analytics__cloud {
  margin-left: 55px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  color: #41B3A3;
}

.arlas-analytics__one-analytic {
  border-bottom: 1px #41B3A3 dashed;
  width: 100%
}
