<div class="configs-list_all_app">

</div>
<div class="configs-list_wrapper">
  <h4 class="title">{{'Choose a configuration to load' | translate}}</h4>
  <div class="configs-list_container">
    <span *ngIf="configurations && configurations.length === 0" class="loading">{{'Loading configurations ...'}}</span>
    <a target="_blank" [routerLink]="['/']" [queryParams]="{config_id: conf.id }" *ngFor="let conf of configurations" class="config" [style.borderLeftColor]="conf.color">
      {{conf.name}}
    </a>
  </div>
  <div *ngIf="hubUrl" class="manage-config" (click)="navigate(hubUrl)">
    <button mat-raised-button >{{'Manage configurations' | translate}}</button>
  </div>
</div>
