<div class="configs-list_wrapper">
  <h4 class="title">{{'Choose a dashboard to load' | translate}}</h4>
  @if (hubUrl) {
    <button class="manage-config" matButton="outlined" (click)="navigate(hubUrl)">
      {{'Manage dashboards' | translate}}</button>
  }
  @if (orgs.length > 0) {
    <nav mat-tab-nav-bar animationDuration="400ms" mat-stretch-tabs class="dashboard-tabs">
      @for (org of orgs; track org) {
        <a mat-tab-link #matTab (click)="changeOrg(org)">
          {{ org.displayName }}
        </a>
      }
    </nav>
  }
  <div class="configs-list_container">
    @if (configurations && configurations.length === 0 && !listResolved) {
      <span class="loading">
        {{'Loading dashboards...' | translate}}
      </span>
    }
    @if (listResolved && !retrieveData) {
      <span class="loading">
        {{'Error while retrieving dashboards' | translate}}
      </span>
    }
    @for (conf of configurations; track conf) {
      <a (click)="switchConf(conf.id)" class="config"
        [style.borderLeftColor]="conf.color">
        {{conf.name}}
      </a>
    }
    @if (configurations.length === 0 && listResolved) {
      <span class="empty_list">
        {{ 'No dashboard in this organisation' | translate }}
      </span>
    }
  </div>
</div>
