<div>
  <arlas-top-menu [wuiName]="'ARLAS WUI'" [version]="version">
    <div left-menu class="top-left-menu">
      <img src="assets/logo-only.png" [matTooltip]="appName | translate" class="img" alt="'ARLAS-wui logo' | translate">
      <arlas-search *ngIf="searchContributors" #search id="search" class="arlas-search"
        [searchContributors]="searchContributors" [dialogPositionLeft]="41" [dialogPositionTop]="-2"></arlas-search>
      <mat-divider *ngIf="searchContributors" vertical class="vertical-divider" id="menuDivider"></mat-divider>
      <arlas-filter class="arlas-filters-chips-top" [showZoomToData]="showZoomToData" [zoomToStrategy]="zoomToStrategy"
        [collectionToDescription]="resultlistService.collectionToDescription" (zoomEvent)="zoomToData($event)"
        [availableSpace]="availableSpaceCounts" [spacing]="spacing">
      </arlas-filter>
    </div>

    <div right-menu class="title" id="title">
      <arlas-permissions-creator></arlas-permissions-creator>
      <mat-divider vertical class="vertical-divider"></mat-divider>
      {{appName | translate}}
    </div>
  </arlas-top-menu>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened>
      <arlas-left-menu (menuEventEmitter)="consumeMenuEvents($event)" [toggleStates]="menuState"
        [collections]="collections" [showIndicators]="showIndicators"></arlas-left-menu>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" *ngIf="!arlasStartupService.emptyMode; else emptyMode">
      <arlas-configs-list *ngIf="menuState.configs" (openHubEventEmitter)="menuState.configs = false">
      </arlas-configs-list>
      <div class="main_content">
        <arlas-tool-root></arlas-tool-root>
        <div *ngIf="arlasStartupService.shouldRunApp">
          <!-- reduce = list is open and analytics closed -->
          <!-- with-list = list is closed but there is a preview and analytics closed -->
          <!-- -analytics = analytics open in addition to previously mentionned state -->
          <div class="app-container"
            [class.app-container-reduce]="resultlistService.listOpen && analyticsService.activeTab === undefined"
            [class.app-container-with-list]="resultlistService.rightListContributors.length > 0
              && !resultlistService.listOpen
              && (resultlistService.previewListContrib | getResultlistConfig)?.hasGridMode
              && analyticsService.activeTab === undefined"
            [class.app-container-reduce-analytics]="resultlistService.listOpen && analyticsService.activeTab !== undefined"
            [class.app-container-with-list-analytics]="resultlistService.rightListContributors.length > 0
              && !resultlistService.listOpen
              && (resultlistService.previewListContrib | getResultlistConfig)?.hasGridMode
              && analyticsService.activeTab !== undefined"
            [class.app-container-analytics]="(resultlistService.rightListContributors.length === 0
                || (resultlistService.rightListContributors.length > 0
                  && !(resultlistService.previewListContrib | getResultlistConfig)?.hasGridMode))
              && !resultlistService.listOpen && analyticsService.activeTab !== undefined"
            [class.app-container-timeline-hidden]="!showTimeline"
            [class.app-container-timeline-legend]="showTimeline && timelineComponent
              && timelineComponent.timelineLegend && timelineComponent.timelineLegend.length > 1 && showTimelineLegend">

            <div class="shortcut-list" *ngIf="showShortcuts || analyticsService.activeTab === undefined">
              <ng-container *ngFor="let shortcut of shortcuts; let idx=index">
                <arlas-filter-shortcut id="shortcut-{{idx}}" class="shortcut" [shortcutWidth]="shortcutWidth" [shortcut]="shortcut"
                  [isOpen]="idx === shortcutOpen" (isOpenChange)="onOpenShortcut($event, idx)"
                  [displayFilterFirstValue]="false"></arlas-filter-shortcut>
              </ng-container>
              <div class="extra-shortcuts" *ngIf="showShortcuts || (extraShortcuts && extraShortcuts.length > 0)">
                <section class="title" id="extra-shortcuts-title" (click)="toggleExtraShortcuts()" [style.width.px]="showMoreShortcutsWidth">
                    <div class="text">{{ isExtraShortcutsOpen ? ('See less' | translate) : ('See more' | translate) }}</div>
                    <div class="info">
                        <span class="tablet" *ngIf="extraShortcutsFiltered !== 0">
                          {{ extraShortcutsFiltered }}
                        </span>
                        <mat-icon class="chevron">
                            {{isExtraShortcutsOpen ? 'expand_less' : 'expand_more'}}
                        </mat-icon>
                    </div>
                </section>
                <section [class.hidden]="!isExtraShortcutsOpen" class="extra-shortcuts-list"  [style.transform]="'translate(calc(' + showMoreShortcutsWidth + 'px - 100%), 0)'">
                    <div *ngFor="let shortcut of extraShortcuts; let idx=index" class="shortcut">
                        <arlas-filter-shortcut [shortcutWidth]="shortcutWidth" [shortcut]="shortcut"
                          [isOpen]="shortcuts.length + idx === shortcutOpen" (isOpenChange)="onOpenShortcut($event, shortcut.length + idx)"
                          [displayFilterFirstValue]="false"></arlas-filter-shortcut>
                    </div>
                </section>
              </div>
            </div>

            <div class="arlas-map" [class.arlas-map--tight]="!mapService.coordinatesHaveSpace"
                [class.arlas-map--tight-reduce]="!mapService.coordinatesHaveSpace && resultlistService.listOpen"
                [class.arlas-map--tight-with-list]="!mapService.coordinatesHaveSpace && !resultlistService.listOpen
                  && resultlistService.rightListContributors.length > 0
                  && (resultlistService.previewListContrib | getResultlistConfig)?.hasGridMode">
              <div class="arlas-analytics-toggle" [class.toggle-hidden]="analyticsService.activeTab === undefined" (click)="closeAnalytics()"
                matTooltip="{{'Close analytics board' | translate}}" matTooltipPosition="right">
                <mat-icon class="primary">keyboard_arrow_left</mat-icon>
              </div>
              <div *ngIf="analyticsService.activeTab !== undefined" class="arlas-analytics--wrapper">
                <arlas-analytics></arlas-analytics>
              </div>

              <arlas-map #arlasMap></arlas-map>

              <div *ngIf="resultlistService.rightListContributors.length > 0" class="resultlist__toggle" (click)="toggleList()"
                [class.resultlist__toggle--open]="resultlistService.listOpen"
                [class.resultlist__toggle--no-grid]="!resultlistService.listOpen
                  && !(resultlistService.previewListContrib | getResultlistConfig)?.hasGridMode">
                <mat-icon [matTooltip]="resultlistService.listOpen ? ('Close data table' | translate) : ('Open data table' | translate)" matTooltipPosition="before">
                  {{ resultlistService.listOpen ? 'keyboard_arrow_right' : 'keyboard_arrow_left' }}</mat-icon>
              </div>

              <div class="resultlist__preview mat-elevation-z1" [class.resultlist__preview--closed]="resultlistService.listOpen"
                *ngIf="!resultlistService.listOpen && !!resultlistService.previewListContrib
                  && (resultlistService.previewListContrib | getResultlistConfig)?.hasGridMode">
                <arlas-result-list [rowItemList]="resultlistService.previewListContrib.data"
                  [fieldsList]="resultlistService.previewListContrib.fieldsList"
                  [detailedDataRetriever]="resultlistService.previewListContrib.detailedDataRetriever"
                  [fieldsConfiguration]="resultlistService.previewListContrib.fieldsConfiguration"
                  [dropDownMapValues]="resultlistService.previewListContrib.dropDownMapValues"
                  [filtersMap]="resultlistService.previewListContrib.filtersMap" [highlightItems]="resultlistService.previewListContrib.highlightItems"
                  [nbLinesBeforeFetch]="10" [nbGridColumns]="1" [tableWidth]="previewListWidth" [defautMode]="1"
                  [fetchState]="resultlistService.previewListContrib.fetchState" [globalActionsList]="[]"
                  [isGeoSortEnabled]="(resultlistService.previewListContrib | getResultlistConfig)?.isGeoSortActived"
                  [options]="(resultlistService.previewListContrib | getResultlistConfig)?.options"
                  [displayFilters]="false"
                  [useColorService]="(resultlistService.previewListContrib | getResultlistConfig)?.useColorService"
                  [cellBackgroundStyle]="(resultlistService.previewListContrib | getResultlistConfig)?.cellBackgroundStyle"
                  [colorsSaturationWeight]="(resultlistService.previewListContrib | getResultlistConfig)?.colorsSaturationWeight"
                  [keysToColors]="(resultlistService.previewListContrib | getResultlistConfig)?.keysToColors"
                  [activatedActionsPerItem]="resultlistService.activeActionsPerContId?.get(resultlistService.previewListContrib.identifier)"
                  (thumbnailFitEvent)="resultlistService.resultlistConfigPerContId.get(resultlistService.previewListContrib.identifier).fitThumbnail = $event"
                  (visibleItems)="resultlistService.updateMapStyleFromScroll($event, resultlistService.previewListContrib.collection)"
                  (onChangeItems)="resultlistService.updateMapStyleFromChange($event, resultlistService.previewListContrib.collection)"
                  (clickOnTile)="clickOnTile($event)"
                  (paginationEvent)="resultlistService.getBoardEvents({ origin: resultlistService.previewListContrib.identifier, event: 'paginationEvent', data: $event })"
                  (geoSortEvent)="resultlistService.getBoardEvents({ origin: resultlistService.previewListContrib.identifier, event: 'geoSortEvent', data: $event })"
                  (geoAutoSortEvent)="resultlistService.getBoardEvents({ origin: resultlistService.previewListContrib.identifier, event: 'geoAutoSortEvent', data: $event })"
                  (selectedItemsEvent)="resultlistService.getBoardEvents({ origin: resultlistService.previewListContrib.identifier, event: 'selectedItemsEvent', data: $event })"
                  (consultedItemEvent)="resultlistService.getBoardEvents({ origin: resultlistService.previewListContrib.identifier, event: 'consultedItemEvent', data: $event })"
                  (actionOnItemEvent)="resultlistService.getBoardEvents({ origin: resultlistService.previewListContrib.identifier, event: 'actionOnItemEvent', data: $event })"
                  (globalActionEvent)="resultlistService.getBoardEvents({ origin: resultlistService.previewListContrib.identifier, event: 'globalActionEvent', data: $event })">
                </arlas-result-list>
              </div>
              <div *ngIf="resultlistService.rightListContributors.length > 0" class="resultlist__wrapper mat-elevation-z1"
                  [class.one-tab]="resultlistService.rightListContributors.length === 1"
                  [class.resultlist__wrapper--open]="resultlistService.listOpen">
                <arlas-list #arlasList [previewListWidth]="previewListWidth" [listWidth]="listWidth" [resultGridColumns]="resultListGridColumns"></arlas-list>
              </div>
            </div>

            <arlas-timeline #timeline *ngIf="timelineComponentConfig"
              class="arlas-timeline-toolkit" [class.timeline__legend--hidden]="!showTimelineLegend"
              [isDisplayHistogram]="showTimeline" (isDisplayHistogramChange)="toggleTimeline()"
              [activeDatePicker]="true" [timelineComponent]="timelineComponentConfig"
              [detailedTimelineComponent]="detailedTimelineComponentConfig">
            </arlas-timeline>

            <mat-progress-bar class="arlas-progression" *ngIf="collaborativeService.totalSubscribe>0" color="primary"
              mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
    <ng-template #emptyMode>
      <mat-sidenav-content class="sidenav-content">
        <arlas-configs-list *ngIf="menuState.configs" (openHubEventEmitter)="menuState.configs = false">
        </arlas-configs-list>
        <div class="empty_mode">
          <div class="welcome">{{'Welcome to ARLAS-Exploration' | translate}}</div>
          <img class="img" src="assets/logo-only.png" [matTooltip]="appName | translate" [alt]="'ARLAS-wui logo' | translate">
          <div class="action" (click)="goToArlasHub()">{{'go to arlas hub' | translate}}</div>
        </div>
      </mat-sidenav-content>
    </ng-template>
  </mat-sidenav-container>
</div>
