<!-- TODO: in case of multiple windows, will need to integrate the menu here to change tabs -->
<!-- <arlas-analytics-menu [showIndicators]="showIndicators"></arlas-analytics-menu> -->
<div class="arlas-analytics--container">
  <arlas-analytics-board (boardOutputs)="resultlistService.getBoardEvents($event)"
    [showSpinner]="spinner.show" [showIndicators]="showIndicators" [diameterSpinner]="+spinner.diameter"
    [colorSpinner]="spinner.color" [strokeWidthSpinner]="spinner.strokeWidth"></arlas-analytics-board>
</div>