<div class="filters-chips--container">
    <md-chip-list class="filters-chips">
        <ng-container *ngFor="let contributorId of  collaborations">
          <md-chip class="filter-chip" [style.color]="getChipColor(contributorId)" (click)="changeCollaborationState(contributorId)" mdTooltip="{{this.getContributorLabel(contributorId)}}" >
            <md-icon class="filter-chip__icon" >{{this.getCollaborationIcon(contributorId)}}</md-icon>
            <md-icon (click)="removeCollaboration(contributorId)" class="filter-chip__icon_close mat-icon material-icons">clear</md-icon>
          </md-chip>
          <md-icon class="filter-delimiter">keyboard_arrow_right</md-icon>
        </ng-container>
      </md-chip-list>
</div>
