
<arlas-about #about [pathToMd]="'about.md'"></arlas-about>
<arlas-dataset #dataset [hidden]="true"></arlas-dataset>
<arlas-share #share [icon]="'share'" [hidden]="true"></arlas-share>
<arlas-tag #tag [hidden]="true"></arlas-tag>
<div class="filters-chips--container">
    <mat-chip-list class="filters-chips">
      <mat-basic-chip class="filter-chip menu-chip">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-chip-button">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="tagComponenentConfig" mat-menu-item (click)="displayTag()">
            <mat-icon>local_offer</mat-icon>
            <span>Tag</span>
          </button>
          <button mat-menu-item (click)="displayBookmark()">
            <mat-icon> view_modules</mat-icon>
            <span>Datasets</span>
          </button>
          <button  *ngIf="shareComponentConfig" mat-menu-item (click)="displayShare()">
            <mat-icon>share</mat-icon>
            <span>Share</span>
          </button>
          <button mat-menu-item (click)="displayAbout()">
            <mat-icon>info_outline</mat-icon>
            <span>About ARLAS WUI</span>
          </button>
        </mat-menu>
      </mat-basic-chip>

      <mat-basic-chip class="filter-chip home-chip" (click)="removeAllFilters()">
        <img class="home-chip--icon" src="assets/arlas-logo-inner-white-24.png" alt="[ARLAS]"/> ARLAS
      </mat-basic-chip>

      <mat-icon class="filter-delimiter">keyboard_arrow_right</mat-icon>

      <ng-container *ngFor="let contributorId of  collaborations">
        <mat-basic-chip class="filter-chip" [style.color]="getChipColor(contributorId)" [style.background-color]="getChipBackgroundColor(contributorId)" (click)="changeCollaborationState(contributorId)" matTooltip="{{this.getContributorLabel(contributorId)}}" >
          <mat-icon class="filter-chip__icon" >{{this.getCollaborationIcon(contributorId)}}</mat-icon>
          <mat-icon (click)="removeCollaboration(contributorId)" class="filter-chip__icon_close mat-icon material-icons">clear</mat-icon>
        </mat-basic-chip>
        <mat-icon class="filter-delimiter">keyboard_arrow_right</mat-icon>
      </ng-container>
      <mat-basic-chip class="filter-chip filter-count" >
        {{countAll}}
      </mat-basic-chip>
    </mat-chip-list>
</div>
