.filters-chips--container {
  background-color: #FF4081;
  display: inline-block;
  border-radius: 3px;
}

.filter-chip {
  cursor: pointer;
  padding-top: 7px!important;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  height: 30px;
}

.filter-chip__icon_close{
  font-size: 12px;
  width: 12px;
  height: 12px;
  float: right;
  margin-top: -6px;

}

.filter-delimiter {
  color:white;
  margin-top: 4px;
}

.home-chip{
  color: white;
  padding: 3px 5px 0 15px !important;
}

.home-chip--icon{
  padding-bottom: 4px;
}

.filter-chip__icon{
  font-size: 20px;
  width: 18px;
  height: 18px;
  padding-left: 2px;
  padding-right: 20px;
  float: left;
  margin-top: -2px;
}

.filter-count {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  cursor: default;
}
.filter-chip__label{
  color: white;
  vertical-align:middle;
  margin-right: 5px;
  margin-left: 8px;
  margin-bottom: 10px;
  font-size:1em;
  height: 26px;
  float: left;
}
