<div class="filters-chips--container">
    <md-chip-list class="filters-chips">
        <ng-container *ngFor="let id of contributorsId">
          <md-chip class="filter-chip"  (click)="changeChipState(id)" mdTooltip="{{this.getLabel(id)}}" >
            <md-icon class="filter-chip__icon" [style.color]="getChipColor(id)">{{this.getIcon(id)}}</md-icon>
            <span *ngIf="id==='chipssearch'" class="filter-chip__label" [style.color]="getChipColor(id)">{{this.getLabel(id)}}</span>
            <md-icon  [style.color]="getChipColor(id)" (click)="removeContributor(id)" class="filter-chip__icon_close mat-icon material-icons">clear</md-icon>
          </md-chip>
          <md-icon class="filter-delimiter">keyboard_arrow_right</md-icon>
        </ng-container>
      </md-chip-list>
</div>
