<div class="geocode-wrapper">


<div class="geocode-header">
  <span class="title">
    {{ 'Find a place' | translate }}
  </span>
  <button mat-icon-button (click)="closePopup()" class="geocode-header__close">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="geocode-content">
  <mat-form-field class="geocode-input">
    <mat-label>{{'Type an address' | translate}}</mat-label>
    <input matInput #searchInput (keyup.enter)="search()" [formControl]="searchFormControl"/>
  </mat-form-field>
  <button matButton="outlined" (click)="search()" class="geocode-search">
    <mat-icon>
      location_searching
    </mat-icon>
    {{'Search for place' | translate }}
  </button>
</div>
@if (loading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
@if (displayTable) {
  <div class="geocode-tip">
    {{ 'Click on search result to zoom on it' | translate }}
  </div>
  <div class="geocode-table-container">
    <table class="table" mat-table [dataSource]="geocodingResult">
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell (click)="onSearchLocation(element)" *matCellDef="let element">
          {{element.display_name }}
          @if (element.addresstype) {
            <span> - {{element.addresstype}}</span>
          }
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>
  </div>
} @else {
  @if (hasSearched) {
    <span class="no-result">{{'No results' | translate}}</span>
  }
  @if (hasError) {
    <span class="error">{{'Unable to access find location service' | translate}}</span>
  }
}
</div>

