/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use "styles/app/sizes.scss" as sizes;
@use "styles/app/colors.scss" as colors;

:host {
  --arlas-geocoding-bg: var(--mat-sys-background);
  --arlas-geocoding-fg: var(--mat-sys-on-background);

  position: absolute;
  right: calc(sizes.$sm-spacing + var(--arlas-map-actions-width) + sizes.$sm-spacing);
  top: calc(3 * var(--arlas-map-actions-width));
  width: 375px;

  .geocode-wrapper{
    border-radius: 5px;
    padding: sizes.$default-spacing;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 100;
    border: 1px solid colors.$map-settings-border-color;
    background: var(--arlas-geocoding-bg, white);
  }

  .geocode-header {
    display: flex;
    justify-content: space-between;

    &__close {
      --mat-icon-button-touch-target-size: 24px;
      --mat-icon-button-state-layer-size: 24px;
      padding: 0;
    }
  }

  .geocode-content {
    margin-top: sizes.$sm-spacing;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .geocode-search {
      display: flex;
      justify-content: center;
      padding: 0 sizes.$default-spacing;
      margin-left: sizes.$default-spacing
    }
  }

  .title {
    font-weight: bold;
  }

  .geocode-input {
    flex-basis: 60%;

    // Tighten the display of inputs
    ::ng-deep.mat-mdc-form-field-infix {
      // Remove 8px from padding bottom and min height
      padding-bottom: 0;
      min-height: 48px;
    }
    ::ng-deep.mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

  .geocode-tip {
    font-size: sizes.$sm-font-size;
    color: var(--arlas-geocoding-fg, grey);
    font-style: italic;
    margin-bottom: sizes.$xs-spacing;
  }

  .geocode-table-container {
    max-height: 150px;
    overflow-y: auto;
    margin-top: sizes.$sm-spacing;
    font-size: sizes.$default-font-size;
  }

  .table {
    max-height: 200px;
    width: 100%;

    ::ng-deep thead tr.mat-mdc-header-row {
      height: 1px;
    }
  }

  .no-result {
    font-weight: bold;
  }

  .error {
    font-size: sizes.$sm-font-size;
    color: colors.$errorColor;
  }

  td {
    cursor: pointer;
  }

  ::ng-deep td.mat-mdc-cell:last-of-type,
  ::ng-deep td.mat-cell:first-of-type {
    padding: 0;
  }
}
