<div class="geocode-header">
  <span class="title">
    {{ 'Find a place' | translate }}
  </span>
  <mat-icon (click)="closePopup()">
    close
  </mat-icon>
</div>

<div class="geocode-content">
  <mat-form-field class="geocode-input">
    <mat-label>{{'Type an address' | translate}}</mat-label>
    <input matInput #searchInput (keyup.enter)="search()" [formControl]="searchFormControl"/>
  </mat-form-field>
  <button mat-stroked-button (click)="search()" class="geocode-search">
    <mat-icon>
      location_searching
    </mat-icon>
    {{'Search for place' | translate }}
  </button>
</div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<ng-container *ngIf="displayTable; else noResult">
  <div class="geocode-tip">
    {{ 'Click on search result to zoom on it' | translate }}
  </div>
  <div class="geocode-table-container">
    <table class="table" mat-table [dataSource]="geocodingResult">
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell (click)="onSearchLocation(element)" *matCellDef="let element">
          {{element.display_name }}
          <span *ngIf="element.addresstype"> - {{element.addresstype}}</span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-container>

<ng-template #noResult>
  <span *ngIf="hasSearched" class="no-result">{{'No results' | translate}}</span>
  <span *ngIf="hasError" class="error">{{'Unable to access find location service' | translate}}</span>
</ng-template>

