@mixin flicker() {
    animation: flicker-animation 1s linear infinite;
    animation-direction: alternate;
}

@mixin no-flicker() {
    animation: unset;
    animation-direction: alternate;
}

@keyframes flicker-animation {
    to {
        opacity: 0.3;
    }
}
