@use '@angular/material' as mat;
@use "../arlas-wui-theme.scss" as theme;

@mixin blink() {
    animation: blink-animation 1s steps(2, jump-none) 3;
    animation-direction: alternate;
}

@mixin no-blink() {
    animation: unset;
    animation-direction: alternate;
}

@keyframes blink-animation {
    to {
        --mat-icon-color: white;
        background-color: mat.get-theme-color(theme.$app-theme, primary, 500);
    }
}
