.title {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;

  .text {
    font-weight: bold;
  }

  .close {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: rgba(242, 242, 242, 0.3);
    }
  }
}

.content {
  display: flex;
  max-height: initial;

  .map-container {
    width: 35vw;
    height: 80vh;
  }

  .editor {
    width: 65vw;
    height: 80vh;

    .validate {
      position: absolute;
      bottom: 30px;
      right: 30px;
    }
  }
}