arlas-search--input {
  width: 300px;
}

.search-option{
  font-size: 0.9em;
}

.search-option.mat-active{
  background-color: #F8BBD0;
  font-size: 1em;
}

.search-option:hover{
  background-color: #F8BBD0;
  font-size: 1em;
}
