
.full-width-input{
  border: 0;
  width:100%;
}

.full-width-input:focus{
  outline: none;
}

.full-width{
  width:100%;
}

.search-option{
  font-size: 0.9em;
}

.search-option.mat-active{
  background-color: #F8BBD0;
  font-size: 1em;
}

.search-option:hover{
  background-color: #F8BBD0;
  font-size: 1em;
}

.arlas-search-container{
  width:100%;
  display:flex;
  align-items:center;
}

.arlas-search-container .mat-icon{
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.full-width .mat-input-placeholder {
  color: red;
}
