<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="browser-compatibility.component.css" />
    <title>ARLAS</title>
  </head>
  <body>
    <div>
      <div class="background-text">
        <span class="title">ARLAS</span>
        <img class="mat-icon-logo" src="../logo-only.png" alt="logo" />
      </div>
      <div class="overlay" id="overlay"></div>
      <div class="popup" id="popup">
        <h1>Warning</h1>
        <div>
          Your current browser is not supported. <br /><br />
          Please upgrade to a newer version of Chrome, Edge, Firefox or Safari for a better experience.
        </div>
      </div>
    </div>
</body>
</html>
