########################################################
############   AUTHENTICATION SETTINGS   ###############
########################################################
authentication:
  use_authent: false
  auth_mode: 'iam'
  force_connect: false
  threshold: 5000
  url: https://localhost/arlas_iam_server
  sign_up_enabled: true

  use_discovery: true
  issuer: https://localhost:9443/auth/realms/arlas
  client_id: arlas-front
  redirect_uri: http://localhost:4200/callback
  silent_refresh_redirect_uri: http://localhost:4200/silent-refresh.html
  scope: profile
  # token_endpoint:
  # userinfo_endpoint: ${ARLAS_AUTHENT_USERINFO_ENDPOINT}
  # jwks_endpoint: ${ARLAS_AUTHENT_JWKS_ENDPOINT}
  login_url: https://localhost:9443/auth/realms/arlas
  # logout_url: ${ARLAS_AUTHENT_LOGOUT_URL}
  show_debug_information: true
  require_https: false
  response_type: code
  silent_refresh_timeout: 10000
  timeout_factor: 0.75
  session_checks_enabled: true
  clear_hash_after_login: true
  storage: memorystorage
  disable_at_hash_check: true
  # dummy_client_secret: ${ARLAS_AUTHENT_DUMMY_CLIENT_SECRET}
  # custom_query_params: ${ARLAS_AUTHENT_CUSTOM_QUERY_PARAMS}
  # sign_up_enabled: ${ARLAS_AUTHENT_SIGN_UP_ENABLED}

tab_name: "ARLAS Wui"

persistence:
  url: https://cloud.arlas.io/arlas/persistence
  use_local_config: false
histogram:
  max_buckets: 200
  export_nb_buckets: 1000
resultlist:
  enable_export: true
  export_size: 10000
arlas_hub_url: http://localhost/hub
dashboards_shortcut: true
processes:
  - name: download
    url: 'https://localhost/aproc/processes/download/execution'
    check_url: 'https://localhost/aproc/processes/download'
    max_items: 15
    settings:
      url: 'assets/processes/download.json'
    status:
      url: 'https://localhost/aproc/jobs'
  - name: enrich
    url: 'https://localhost/aproc/processes/enrich/execution'
    check_url: 'https://localhost/aproc/processes/enrich'
    max_items: 15
    settings:
      url: 'assets/processes/enrich.json'
    status:
      url: 'https://localhost/aproc/jobs'
links:
  - name: Explorer
    icon: landscape
    check_url: https://google.com
    url: https://google.com
  - name: ARLAS Builder
    icon: build
    check_url: http://localhost/arlas_iam_server
    url: http://localhost:81/builder
  - name: ARLAS Hub
    icon: hub
    check_url: http://localhost/arlas/explore/demo_algoe/_count?&righthand=false&pretty=false&max-age-cache=120
    url: http://localhost/hub
  - name: Fam
    icon: satellite_alt
    url: https://demo.cloud.arlas.io/
    check_url: http://localhost/arlas_iam_server
geocoding:
  enabled: true
  find_place_url: "https://nominatim.openstreetmap.org/"
  find_place_zoom_to: 11
