/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* You can add global styles to this file, and also import other style files */
@import '../node_modules/prismjs/themes/prism.css';
@import "../node_modules/@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
@import 'styles/timeline.scss';
@import 'styles/powerbars.css';
@import 'styles/histogram.css';
@import 'styles/hopscotch/hopscotch.css';
@import 'styles/swimlane.css';
@import 'styles/donut.css';
@import 'styles/resultlist.scss';
@import 'styles/map.scss';
@import 'styles/filter.scss';
@import 'styles/variables.scss';
@import 'styles/material-override.scss';
@import 'styles/app/sizes.scss';
@import 'styles/app/colors.scss';
@import 'styles/app/mixin.scss';
@import 'styles/analytics.scss';

/* Material Icons */

@font-face {
  font-family: 'Material Icons';
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('./assets/fonts/material-icons.woff2') format('woff2')
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

app {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

html {
  height: 100%;

  --arlas-theme-color: #FF4081;
}

button:focus {
  outline: 0px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.boxdraw {
  background: transparent;
  border: 2px solid black;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.share-option-check .mat-pseudo-checkbox {
  display: none !important;
}

.histogram {
  overflow: hidden;
}

.tag-button {
  display: none !important;
}

.arlas-tag-box {
  top: -10px !important;
  left: calc(50vw - 100px) !important;
}

.arlas-search .full-width-input {
  font-size: .9rem;
}

.bookmark-chip {
  outline: none;
  padding: 4px 6px 0 !important;
  box-shadow: 0 1px 2px #888 !important;
}

.bookmark-view {
  height: 34px;
}

.tags-table-items {
  max-height: 70vh !important;
}

.arlas-cog-modal {
  --mdc-dialog-container-color: whitesmoke;
}

.mdc-dialog__surface {
  padding: 12px 24px;
}

#arlas-search-dialog .mdc-dialog__surface {
  padding: 0;
}

/* Walkthrough */
div.hopscotch-bubble .hopscotch-nav-button.next {
  border-color: var(--arlas-theme-color);
  color: #ffffff;
  background: none;
  background-color: var(--arlas-theme-color);
  text-shadow: none !important;
}

div.hopscotch-bubble .hopscotch-nav-button.next:hover {
  color: var(--arlas-theme-color);
  background: none;
}

div.hopscotch-bubble .hopscotch-nav-button.prev {
  border-color: #000;
  color: #000;
  background: none;
  background-color: #fff;
  text-shadow: none !important;
}

div.hopscotch-bubble .hopscotch-nav-button.prev:hover {
  background: none;
  background-color: #f1f1f1;
}

div.hopscotch-bubble .hopscotch-bubble-number {
  background-color: var(--arlas-theme-color);
  background-image: none;
  padding: 0 !important;
  border-radius: 15px;
}

div.hopscotch-bubble {
  border: 3px solid rgba(0, 0, 0, 0.5) !important;
}

div.hopscotch-bubble .hopscotch-bubble-close {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up {
  top: -20px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
  top: -14px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right {
  right: -37px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
  left: -4px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down {
  bottom: -37px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
  top: -22px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left {
  left: -20px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
  left: 5px !important;
}

.gif {
  background-color: var(--arlas-theme-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
}
