/* You can add global styles to this file, and also import other style files */

@import '../node_modules/prismjs/themes/prism.css';
@import '../node_modules/@gisaia-team/ng-pick-datetime/assets/style/picker.min.css';
@import 'styles/timeline.css';
@import 'styles/powerbars.css';
@import 'styles/histogram.css';
@import 'styles/hopscotch/hopscotch.css';
@import 'styles/swimlane.css';
@import 'styles/donut.css';
@import 'styles/resultlist.css';
@import 'styles/map.css';
@import 'styles/filter.css';
/* Material Icons */

@font-face {
  font-family: 'Material Icons';
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('./assets/fonts/material-icons.woff2') format('woff2')
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
}

app {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

html {
  height: 100%;
}

button:focus {
  outline: 0px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.analytics-board-card {
  box-shadow: none !important;
  padding: 1px !important;
  margin: 3px 0 3px 0 !important;
}

.analytics-board-panel .mat-expansion-panel-header {
  font-size: 16px;
  font-weight: 300;
  align-items: inherit;
}

.analytics-board-panel .mat-expansion-panel-body {
  margin: 0 1px 0px;
  padding: 0 5px 0 0 !important;
  font-weight: 300;
}

.analytics-tabs .mat-tab-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: inherit;
  z-index: 2;
  border-bottom: none;
}

table.resultlist>tbody {
  height: 400px !important;
}

.side-result-list table {
  height: calc(100vh - 50px);
}

.side-result-list table.resultlist>tbody {
  height: 100% !important;
}

.side-result-list-preview table.resultlist>tbody {
  height: 100vh !important;
}

.side-result-list-preview table.resultlist>thead {
  display: none;
}

.side-result-list-preview table.resultlist .resultgrid__icon_check {
  display: none;
}

.side-result-list .resultgrid__title-highlight- {
  margin: unset !important;
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
}

.boxdraw {
  background: transparent;
  border: 2px solid black;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.mat-dialog-container {
  max-height: 85vh !important;
}

.share-option-check .mat-pseudo-checkbox {
  display: none !important;
}

.histogram {
  overflow: hidden;
}

.map__layers-list--container {
  z-index: 1;
}

.tag-button {
  display: none !important;
}

.arlas-tag-box {
  top: -10px !important;
  left: calc(50vw - 100px) !important;
}

.mapboxgl-ctrl-group-addgeobox, .mapboxgl-ctrl-group-removeaois, .mapboxgl-ctrl-group-pitch {
  display: none;
}

.mapboxgl-ctrl-group-layersswitcher {
  visibility: hidden;
}

.arlas-analytics--container .arlas-metric-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.arlas-metric-value {
  font-weight: 400;
  font-size: 2em;
  padding: 5px 0;
}

.analytics-board-group {
  justify-content: space-evenly;
}

.analytics-board-panel:hover .export-csv-button {
  display: block;
  position: absolute;
}

.export-csv-button {
  display: none;
  cursor: pointer;
}

.arlas-search .full-width-input {
  font-size: .9rem;
}

.bookmark-chip {
  outline: none;
}

.arlas-metric-description {
  font-size: 1.5rem;
  font-weight: 100;
}

.tags-table-items {
  max-height: 70vh !important;
}

/* Walkthrough */

div.hopscotch-bubble .hopscotch-nav-button.next {
  border-color: #FF4081;
  color: #ffffff;
  background: none;
  background-color: #FF4081;
  text-shadow: none !important;
}

div.hopscotch-bubble .hopscotch-nav-button.next:hover {
  color: #FF4081;
  background: none;
}

div.hopscotch-bubble .hopscotch-nav-button.prev {
  border-color: #000;
  color: #000;
  background: none;
  background-color: #fff;
  text-shadow: none !important;
}

div.hopscotch-bubble .hopscotch-nav-button.prev:hover {
  background: none;
  background-color: #f1f1f1;
}

div.hopscotch-bubble .hopscotch-bubble-number {
  background-color: #FF4081;
  background-image: none;
  padding: 0 !important;
  border-radius: 15px;
}

div.hopscotch-bubble {
  border: 3px solid rgba(0, 0, 0, 0.5) !important;
}

div.hopscotch-bubble .hopscotch-bubble-close {
  cursor: pointer;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up {
  top: -20px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
  top: -14px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right {
  right: -37px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
  left: -4px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down {
  bottom: -37px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
  top: -22px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left {
  left: -20px !important;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
  left: 5px !important;
}

.arlas-map .current-coordinate {
  position: absolute;
  right: 120px;
  bottom: 165px;
  background-color: white;
  color: black;
  font-size: smaller;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.arlas-map .current-coordinate .lat {
  width: 110px;
}

.arlas-map .current-coordinate .lng {
  width: 105px;
}

.zoomToFeature-onhover-action {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2720%27%20height%3D%2720%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%27%20fill%3D%27%23000000%27%2F%3E%3Cpath%20fill%3D%27none%27%20d%3D%27M0%200h24v24H0V0z%27%2F%3E%3Cpath%20d%3D%27M12%2010h-2v2H9v-2H7V9h2V7h1v2h2v1z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E") !important;
}

.resultitem-list__actions {
  cursor: pointer;
}

.resultitem-grid__actions {
  cursor: pointer;
}

.gif {
  background-color: #FF4081;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  transform: translateY(-50%);

}
