name: Release ARLAS-wui

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true
      stage:
        type: choice
        description: Stage of the release
        required: true
        options:
        - beta
        - rc
        - stable
      stage_iteration:
        description: Iteration of the release (needed for beta and rc)
        required: false
      latest:
        type: boolean
        description: Latest release?
        default: true

run-name: Release ARLAS-wui ${{inputs.version}} ${{inputs.stage}} ${{inputs.stage_iteration}}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v4
      with:
        registry-url: 'https://registry.npmjs.org'
    - name: Extract branch name
      shell: bash
      run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
      id: extract_branch
    - name: Release
      env:
        # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
        NPM_EMAIL: ${{ secrets.NPM_EMAIL }}
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        GITHUB_CHANGELOG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GOOGLE_CHAT_RELEASE_CHANEL: ${{ secrets.GOOGLE_CHAT_RELEASE_CHANEL }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        VERSION: ${{ inputs.version }}
        STAGE: ${{ inputs.stage }}
        ITERATION: ${{ inputs.stage_iteration }}
        BRANCH: ${{ steps.extract_branch.outputs.branch }}
        LATEST: ${{inputs.latest && ' ' || '--not-latest'}}
      run: |
        bash release.sh -version=$VERSION -s=$STAGE -i=$ITERATION -ref_branch=$BRANCH $LATEST
